<div class="text-capitalize">
  <div *ngIf="dialogData && dialogData.length">
    <p-table [value]="dialogData" [styleClass]="'p-datatable-striped'">
      <ng-template pTemplate="header">
        <tr>
          <th>Lead ID</th>
          <th>Business Name</th>
          <th>Phone Number</th>
          <th>Sourced By</th>
          <th>Created By</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-lead>
        <tr>
          <td>{{ lead.id }}</td>
          <td>{{ lead.businessName | capitalizeFirst }}</td>
          <td>{{ lead.primaryPhone }}</td>
          <td>{{ getSourceName(lead.sourcedBy) | capitalizeFirst }}</td>
          <td>{{ lead.createdBy | capitalizeFirst }}</td>
          <td>{{ lead.leadStatusName }}</td>
          <td class="pointer-cursor">
            <!-- <button
              pButton
              pRipple
              type="button"
              class="p-button-primary me-2 custom-btn"
              (click)="viewLeadProfile(lead.id)"
              pTooltip="View Lead"
              icon="fas fa-eye"
              tooltipPosition="top"
            ></button> -->
            <img
            alt="View Lead"
              src="../../../assets/images/icons/eye.svg"
              width="24px"
              height="24px"
              pTooltip="View Lead"
              tooltipPosition="top"
              (click)="viewLeadProfile(lead.id)"
            />
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr class="text-center">
          <td colspan="3" class="text-center fw-bold">
            <!-- <img
            alt="No Data"
              src="../../../assets/images/menu/no-data.gif"
              width="200"
              height="200"
            /> -->
           <p style="color: #535ab4; font-weight: 400; font-size: 18px">No Leads Available</p>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
