// ::ng-deep
//   .file-upload-steps
//   .p-steps
//   .p-steps-item.p-highlight
//   .p-steps-number {
//   background: #1d4ed8;
//   color: #eff6ff;
// }

.back-btn-text {
  font-size: 20px !important;
}
.p-button-sm {
  width: 10px;
  align-items: center;
  justify-content: center;
}
label {
  font-size: normal;
}
.leaddata {
  border: none;
  // background-color: #13003a;
  // color: #fff;
}

// :host ::ng-deep .p-tabmenu .p-tabmenu-nav {
//   height: 48px;
// }

// :host
//   ::ng-deep
//   .p-tabmenu
//   .p-tabmenu-nav
//   .p-tabmenuitem.p-highlight
//   .p-menuitem-link {
//   background: #51c297;
//   border-color: #198754;
//   color: #ffffff;
// }
// :host ::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
//   background: #ffffff;
//   color: #0165ac;
// }
// :host
//   ::ng-deep
//   .p-tabmenu
//   .p-tabmenu-nav
//   .p-tabmenuitem:not(.p-highlight)
//   .p-menuitem-link:hover {
//   background: #f9f9f9 !important;
//   border-color: #198754 !important;
//   color: #0165ac !important;
// }
.file-wrapper {
  display: inline-block;
  position: relative;
  margin-right: 12px;
}

.delete-btn {
  position: absolute;
  top: -5px;
  right: -3px;
  padding: 4px !important;
  border-radius: 50% !important;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.delete-btn i {
  font-size: 10px !important;
}

.delete-btn:hover {
  background-color: #ff4d4d !important;
}
// .file-icon {
//   color: #fff !important; /* Icon color */
//   font-size: 30px;
// }
.calendar-custom-img {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  cursor: pointer;
  filter: grayscale(100%) brightness(50%);
  z-index: 10;
}
