.background-radial-gradient {
  background-image: url("../../assets/images/loginpage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.card {
  background-color: #ffffff;
  border-radius: 1rem;
  margin-left: 120px;
}
.error-placeholder {
  min-height: 20px;
  margin-top: 4px;
  font-size: 0.875rem;
  line-height: 1.2;
}
.p-inputgroup-addon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  border-radius: 5px;
  padding: 0;
  z-index: 2;
}
.text-primary {
  color: #29415b !important;
}
.back-btn a:hover {
  color: #ee7846;
}
.back-btn a {
  color: #29415b;
}
.btn-primary {
  color: #fff !important;
  background-color: #29415b !important;
  border-color: #29415b !important;
}
.input-group {
  position: relative;
  border: 1px solid #878787;
  border-radius: 5px;
  // width: 400px;
}

@media (max-width: 910px) {
  .background-radial-gradient {
    padding: 0 !important;
    background-size: cover !important;
    background-position: center !important;
    background-attachment: scroll !important;
  }

  section.d-flex.align-items-center {
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column;
  }

  .container.col-lg-6 {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 0 !important;
    margin: 0 auto !important;
    width: 100% !important;
    min-height: 100vh;
  }

  .card {
    width: 75% !important;
    max-width: 75% !important;
    margin: 0 auto !important;
    padding: 1.5rem 1rem !important;
    margin-left: 30px !important;
  }

  .form-control,
  .form-label {
    font-size: 14px;
  }

  .btn-primary {
    font-size: 14px;
    padding: 0.6rem 1rem;
  }

  .back-btn {
    text-align: center;
    font-size: 14px;
  }
}
