.custom-btn {
  height: 30px;
}

:host ::ng-deep .p-dropdown-panel .p-dropdown-filter-container {
  width: 100% !important;
}
:host ::ng-deep .p-dropdown-filter {
  width: 100% !important;
  margin: auto;
}
.p-button-primary {
  background-color: #fff !important;
  // border-color: lightgray !important;
  border-bottom-right-radius: 8px !important;
  border-top-right-radius: 8px !important;
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  // border-color: none !important;
  border: none !important;
  box-shadow: 0 0 4px 0 #00000040 !important;
}
input {
  position: relative;
  overflow: hidden; /* Hide any overflow */
  // width: 383px !important;
  // height: 45px !important;
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  border: none !important;
  color: #838383 !important;
  box-shadow: 0 0 4px 0 #00000040 !important;
}
.p-button-primary img{
  filter: brightness(0) saturate(100%) invert(46%) sepia(0%) saturate(0%) hue-rotate(187deg) brightness(91%) contrast(86%);
}