.custom-btn {
  height: 30px;
}

:host ::ng-deep .p-dropdown-panel .p-dropdown-filter-container {
  width: 100% !important;
}
:host ::ng-deep .p-dropdown-filter {
  width: 100% !important;
  margin: auto;
}
.p-button-primary {
  background-color: #fff !important;
  border-color: lightgray !important;
  border-bottom-right-radius: 8px !important;
  border-top-right-radius: 8px !important;
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}
