// ::ng-deep .p-datatable .p-datatable-thead > tr > th {
//   background: #13003a !important;
//   color: #fff !important;
// }

::ng-deep .bread-crumb .pi-home {
  color: #7a86b6 !important;
}
.delete-btn,
.update-btn {
  height: 30px;
  width: 35px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}
