<div class="container my-5">
  <h2 class="text-center mb-4 fw-bold heading">
    Home Loan - Diminishing Interest EMI Calculator
  </h2>
  <div class="row g-4 align-items-start">
    <div class="col-md-4">
      <div class="p-4 border-0">
        <div class="form-group mb-3">
          <label><strong>Applicant Name</strong></label>
          <input
            type="text"
            pInputText
            class="form-control"
            placeholder="Enter Applicant name"
            [(ngModel)]="businessName"
          />
        </div>
        <div class="form-group mb-3">
          <div class="d-flex justify-content-between align-items-center mb-1">
            <label class="mb-0"><strong>Loan Amount (₹)</strong></label>
            <input
              type="number"
              [(ngModel)]="loanAmount"
              class="form-control form-control-sm ms-2"
              style="width: 200px"
            />
          </div>
          <p-slider
            [(ngModel)]="loanAmount"
            [min]="50000"
            [max]="100000000"
            [step]="10000"
            [style]="{ width: '100%' }"
          ></p-slider>
        </div>

        <div class="form-group mb-3">
          <div class="d-flex justify-content-between align-items-center mb-1">
            <label class="mb-0"><strong>Interest Rate (%)</strong></label>
            <input
              type="number"
              [(ngModel)]="interestRate"
              class="form-control form-control-sm ms-2"
              style="width: 200px"
            />
          </div>
          <p-slider
            [(ngModel)]="interestRate"
            [min]="5"
            [max]="12"
            [step]="0.25"
            [style]="{ width: '100%' }"
          ></p-slider>
        </div>

        <div class="form-group mb-3">
          <div class="d-flex justify-content-between align-items-center mb-1">
            <label class="mb-0"><strong>Tenure (Years)</strong></label>
            <input
              type="number"
              [(ngModel)]="tenure"
              class="form-control form-control-sm ms-2"
              style="width: 200px"
            />
          </div>
          <p-slider
            [(ngModel)]="tenure"
            [min]="1"
            [max]="30"
            [step]="1"
            [style]="{ width: '100%' }"
          ></p-slider>
        </div>

        <button
          pButton
          label="Calculate EMI"
          class="w-100 p-button-raised p-button-rounded"
          style="background-color: #29415b; border: none"
          (click)="calculateEMI()"
        ></button>
      </div>
    </div>

    <div class="col-md-4" *ngIf="emi">
      <div class="p-4">
        <div class="card-body text-center p-4">
          <h4 class="mb-2 emi-heading fw-bold">Monthly EMI</h4>
          <h2 class="emi-value mb-4 fw-bold">₹{{ emi }}</h2>

          <div class="d-flex flex-column gap-2">
            <div class="d-flex justify-content-between">
              <span class="fw-semibold">Total Payable:</span>
              <span>₹{{ totalPayable }}</span>
            </div>
            <div class="d-flex justify-content-between">
              <span class="fw-semibold">Principal:</span>
              <span>₹{{ loanAmount }}</span>
            </div>
            <div class="d-flex justify-content-between">
              <span class="fw-semibold">Interest:</span>
              <span>₹{{ totalInterest }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4" *ngIf="piechartOptions">
      <div class="p-3">
        <app-apex-charts [chartOptions]="piechartOptions"></app-apex-charts>
      </div>
    </div>
  </div>

  <div class="mt-3" *ngIf="repaymentSchedule.length > 0">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <h5 class="mb-0" style="color: #29415b">📆 Repayment Schedule</h5>
      <button
        pButton
        icon="pi pi-download"
        class="p-button-text p-button-sm p-button-secondary"
        [disabled]="!businessName"
        label="Download PDF"
        (click)="generatePDF()"
      ></button>
    </div>

    <p-table
      [value]="repaymentSchedule"
      [responsiveLayout]="'scroll'"
      class="p-datatable-striped p-datatable-gridlines"
      styleClass="p-shadow-2"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>S. No.</th>
          <th>Month</th>
          <th>EMI (₹)</th>
          <th>Principal (₹)</th>
          <th>Interest (₹)</th>
          <th>Balance (₹)</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-row let-i="rowIndex">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ row.month }}</td>
          <td>{{ row.emi }}</td>
          <td>{{ row.principal }}</td>
          <td>{{ row.interest }}</td>
          <td>{{ row.balance }}</td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6" class="text-center">No repayment data available.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <!-- <div *ngIf="groupedYears?.length" class="m-5">
    <h4 class="mb-3">📆 Repayment Schedule (Year-wise)</h4>
    <p-table
      [value]="groupedYears"
      dataKey="year"
      [expandedRowKeys]="expandedRows"
      responsiveLayout="scroll"
      class="p-datatable-sm shadow-sm"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Year</th>
          <th>Total EMI</th>
          <th>Interest</th>
          <th>Principal</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-yearObj>
        <tr>
          <td>
            <a (click)="toggleRow(yearObj.year)" class="text-decoration-none">
              <i
                class="pi me-2"
                [ngClass]="{
                  'pi-plus-circle': !expandedRows[yearObj.year],
                  'pi-minus-circle': expandedRows[yearObj.year]
                }"
              ></i>
              {{ yearObj.year }}
            </a>
          </td>
          <td>₹{{ getYearlyTotal(yearObj.year, "emi") | number }}</td>
          <td>₹{{ getYearlyTotal(yearObj.year, "interest") | number }}</td>
          <td>₹{{ getYearlyTotal(yearObj.year, "principal") | number }}</td>
        </tr>
      </ng-template>

      <ng-template pTemplate="rowexpansion" let-yearObj>
        <tr>
          <td colspan="4">
            <p-table
              [value]="groupedSchedule[yearObj.year]"
              responsiveLayout="scroll"
              class="p-datatable-striped p-datatable-sm"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th>Month</th>
                  <th>EMI (₹)</th>
                  <th>Principal (₹)</th>
                  <th>Interest (₹)</th>
                  <th>Balance (₹)</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-month>
                <tr>
                  <td>{{ month.month }}</td>
                  <td>{{ month.emi | number }}</td>
                  <td>{{ month.principal | number }}</td>
                  <td>{{ month.interest | number }}</td>
                  <td>{{ month.balance | number }}</td>
                </tr>
              </ng-template>
            </p-table>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div> -->
</div>
