.custom-white-button {
  background-color: white !important;
  color: black !important;
  border: 1px solid #ccc !important;
  font-weight: bold !important;
}

.custom-white-button:hover {
  background-color: #f0f0f0 !important;
  color: black !important;
}

// ::ng-deep .p-datatable .p-datatable-thead > tr > th {
//   background: #13003A !important;
//   color: #fff !important;
// }
.downloadimg {
  filter: brightness(0) saturate(100%) invert(38%) sepia(0%) saturate(0%)
    hue-rotate(187deg) brightness(91%) contrast(86%);
}
