.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
// .image-container img {
//   display: block;
//   padding: 10px;
//   width: auto;
//   margin-top: 10px;
//   height: 190px;
// }

.profile {
  padding: 5px;
  border: none;
}
.profile-container {
  position: relative;
  overflow: hidden;
  text-align: center;
}
.company-name {
  color: #230461;

  font-weight: bold;
  border-radius: 10px;
}
.company-type {
  font-size: 20px;
  color: #5e2ac6;
  font-weight: bold;
}
.colored-half {
  position: absolute;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
}

// ::ng-deep .p-datatable .p-datatable-thead > tr > th {
//   background: #13003a !important;
//   color: #fff !important;
// }
.delete-btn {
  height: 30px;
  width: 35px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}
.custom-calendar-wrapper {
  position: relative;
}

.calendar-custom-img {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  cursor: pointer;
  filter: grayscale(100%) brightness(50%);
  // z-index: 2; /* ensure it's above the input */
}

.image-icon{
  filter: brightness(0) saturate(100%) invert(63%) sepia(37%) saturate(757%) hue-rotate(204deg) brightness(85%) contrast(89%);
}
.deletebtn{
  background-color: #ffffff !important;
  border: 1px solid #8E89D0;
  width: 45px !important;
  height: 35px;
  border-radius: 6px !important;
}

.deletebtn:hover {
  background-color: #8E89D0 !important;
}
.image-icon:hover{
  filter: brightness(0) invert(1);
}