<div>
  <div class="p-1 m-2 fixed-card">
    <div class="d-flex justify-content-between">
      <div
        class="d-flex align-items-center justify-content-center pointer-cursor"
        (click)="goBack()"
      >
        <span class="me-2 d-flex align-items-center">
          <img src="../../../assets/images/icons/left-arrow.svg" alt="Back" />
        </span>
        <!-- <span class="me-1">
          <img
            src="../../../assets/images/menu/followups.png"
            alt="Default Image"
            class=""
            style="height: 35px; width: 40px"
          />
        </span> -->
        <b>
          <span class="back-btn-text"> Follow Ups </span>
        </b>
        <!-- <span class="back-btn-text text-capitalize">Follow Ups</span> -->
      </div>
    </div>
  </div>
  <!-- <div class="bread-crumb">
    <p-breadcrumb [model]="breadCrumbItems"></p-breadcrumb>
  </div> -->
  <div class="text-capitalize m-2">
    <p-table
      #leadsTable
      [value]="leads"
      [sortOrder]="-1"
      [lazy]="true"
      selectionMode="single"
      (onLazyLoad)="loadLeads($event)"
      (onRowSelect)="viewLead($event)"
      dataKey="id"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10, 25, 50]"
      [paginator]="true"
      [rows]="10"
      class="p-datatable-striped"
      [totalRecords]="totalLeadsCount"
      [loading]="apiLoading"
      responsiveLayout="scroll"
      scrollHeight="flex"
      [globalFilterFields]="[
        'referenceNo',
        'customer.firstName',
        'partner.partnerName',
        'status'
      ]"
      styleClass="p-datatable-customers "
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Follow Ups"
    >
      <ng-template pTemplate="caption">
        <div class="row">
          <div class="col-md-3 mt-2 no-padding-small">
            <div class="p-inputgroup">
              <input
                type="text"
                pInputText
                placeholder="Search Lead with Business Name"
                [(ngModel)]="businessNameToSearch"
                (ngModelChange)="
                  inputValueChangeEvent('loanId', businessNameToSearch)
                "
                (keyup.enter)="filterWithBusinessName()"
              />
              <!-- <button
                type="button"
                pButton
                icon="pi pi-search"
                class="p-button-primary"
                [disabled]="!businessNameToSearch"
                (click)="filterWithBusinessName()"
              ></button> -->
              <button
                type="button"
                pButton
                class="p-button-primary"
                [disabled]="!businessNameToSearch"
                (click)="filterWithBusinessName()"
              >
                <img
                  src="assets/images/icons/search.svg"
                  alt="Search"
                  width="16"
                  height="16"
                  style="vertical-align: middle"
                />
              </button>
            </div>
          </div>
          <div class="col-md-3 mt-2 no-padding-small">
            <div class="p-inputgroup">
              <input
                type="text"
                pInputText
                placeholder="Search File with Mobile Number"
                [(ngModel)]="mobileNumberToSearch"
                (ngModelChange)="
                  inputValueChangeEvent('loanId', mobileNumberToSearch)
                "
                (keyup.enter)="filterWithMobileNumber()"
              />
              <!-- <button
                type="button"
                pButton
                icon="pi pi-search"
                class="p-button-primary"
                [disabled]="!mobileNumberToSearch"
                (click)="filterWithMobileNumber()"
              ></button> -->
              <button
                type="button"
                pButton
                class="p-button-primary"
                [disabled]="!mobileNumberToSearch"
                (click)="filterWithMobileNumber()"
              >
                <img
                  src="assets/images/icons/search.svg"
                  alt="Search"
                  width="16"
                  height="16"
                  style="vertical-align: middle"
                />
              </button>
            </div>
          </div>
          <div
            class="col-md-3 mt-2 no-padding-small"
            *ngIf="
              userDetails && userDetails.userType && userDetails.userType == '3'
            "
          ></div>
          <div class="col-md-3 mt-2 no-padding-small text-right">
            <div class="d-flex">
              <div class="flex-grow-1 me-2">
                <div
                  class="p-inputgroup"
                  *ngIf="
                    userDetails &&
                    userDetails.userType &&
                    userDetails.userType != '3'
                  "
                >
                  <br class="d-lg-none d-md-none" />
                  <p-dropdown
                    styleClass="text-left"
                    [style]="{ width: '100%' }"
                    [options]="leadUsers"
                    (onChange)="statusChange($event)"
                    [dropdownIcon]="'fa fa-caret-down'"
                    [(ngModel)]="selectedSoucedByStatus"
                    optionLabel="name"
                    dataKey="name"
                    appendTo="body"
                    [filter]="true"
                    filterPlaceholder="Search..."
                  >
                  </p-dropdown>
                </div>
              </div>
              <div class="d-flex align-items-center pointer-cursor">
                <app-filter
                  [position]="'right'"
                  [iconColor]="'#33009C'"
                  [iconSize]="'28px!important'"
                  (filterEvent)="applyConfigFilters($event)"
                  [filterConfig]="filterConfig"
                  [showFilterIndication]="appliedFilter"
                  pTooltip="Filter"
                  tooltipPosition="top"
                >
                </app-filter>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th class="text-nowrap">Lead Id</th>
          <th class="text-nowrap">Business Name</th>
          <th class="text-nowrap">Business Entity</th>
          <th class="text-nowrap">Contact Person</th>
          <th class="text-nowrap">Contact Number</th>
          <th>City</th>
          <th
            class="text-nowrap"
            *ngIf="
              userDetails && userDetails.userType && userDetails.userType != '3'
            "
          >
            Sourced By
          </th>
          <th class="text-nowrap">Created Date</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-lead>
        <tr [pSelectableRow]="lead">
          <td>
            <span class="table-column-data">{{
              lead.customId ? lead.customId : "-"
            }}</span>
          </td>
          <td>
            <span class="table-column-data">{{
              lead.businessName ? (lead.businessName | capitalizeFirst) : "-"
            }}</span>
          </td>
          <td>
            <span class="table-column-data">{{
              lead.businessEntity ? getEntityName(lead.businessEntity) : "-"
            }}</span>
          </td>
          <td>
            <span class="table-column-data">{{
              lead.contactPerson ? (lead.contactPerson | capitalizeFirst) : "-"
            }}</span>
          </td>
          <td>
            <span class="table-column-data">{{
              lead.primaryPhone ? lead.primaryPhone : "-"
            }}</span>
          </td>
          <td>
            <span class="table-column-data">{{
              lead.city ? (lead.city | capitalizeFirst) : "-"
            }}</span>
          </td>
          <td
            *ngIf="
              userDetails && userDetails.userType && userDetails.userType != '3'
            "
          >
            <span class="table-column-data">{{
              lead.sourcedBy
                ? (getSourceName(lead.sourcedBy) | capitalizeFirst)
                : "-"
            }}</span>
          </td>
          <td>
            <span class="table-column-data">{{
              lead.createdOn ? (lead.createdOn | date : "mediumDate") : "-"
            }}</span>
          </td>

          <td>
            <div class="text-center pointer-cursor">
              <div class="d-flex">
                <!-- <button
                  pButton
                  pRipple
                  type="button"
                  class="p-button-primary me-2 custom-btn"
                  (click)="viewLead(lead.id)"
                  pTooltip="View Lead"
                  icon="fas fa-eye"
                  tooltipPosition="top"
                ></button> -->
                <!-- <img
                  src="../../../assets/images/icons/eye.svg"
                  width="24px"
                  height="24px"
                  class="me-2"
                  pTooltip="View Lead"
                  tooltipPosition="top"
                  (click)="viewLead(lead.id)"
                /> -->
                <!-- <button
                  pButton
                  pRipple
                  type="button"
                  class="p-button-info me-2 custom-btn"
                  (click)="updateLead(lead.id)"
                  pTooltip="Update Lead"
                  icon="fas fa-pen-to-square"
                  tooltipPosition="top"
                ></button> -->

                <img
                  src="../../../assets/images/icons/edit.svg"
                  alt="Edit Lead"
                  width="24px"
                  height="24px"
                  class="me-2"
                  (click)="updateLead(lead.id); $event.stopPropagation()"
                  pTooltip="Update Lead"
                  tooltipPosition="top"
                />
                <p-menu
                  appendTo="body"
                  #menu
                  [model]="actionItems(lead)"
                  [popup]="true"
                ></p-menu>
                <!-- <button
                  pButton
                  type="button"
                  class="custom-btn"
                  (click)="menu.toggle($event)"
                  icon="fas fa-bars"
                  pTooltip="Actions"
                  tooltipPosition="top"
                ></button> -->

                <img
                  alt="Actions"
                  src="../../../assets/images/icons/menu.svg"
                  width="24px"
                  height="24px"
                  pTooltip="Actions"
                  tooltipPosition="top"
                  (click)="menu.toggle($event); $event.stopPropagation()"
                />
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td colspan="1" class="fw-semibold">Remarks</td>
          <td colspan="8">
            <span class="table-column-data col-12" *ngIf="lead.remarks">{{
              lead.remarks | capitalizeFirst
            }}</span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr class="text-center">
          <td colspan="10" class="text-center fw-bold">
            <img
              alt="No Data"
              src="../../../assets/images/menu/no-data.gif"
              width="200"
              height="200"
            />
            <p>No Follow Ups Found</p>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>