// ::ng-deep .p-datatable .p-datatable-thead > tr > th {
//   background: #13003a !important;
//   color: #fff !important;
// }

// .statusdata {
//   padding-top: 4px;
//   padding-bottom: 4px;
//   border-radius: 20px;
//   padding-left: 10px;
//   padding-right: 10px;
// }

// ::ng-deep .p-datatable-striped tbody tr:nth-child(4n + 1),
// ::ng-deep .p-datatable-striped tbody tr:nth-child(4n + 2) {
//   background-color: #ffffff;
// }

// ::ng-deep .p-datatable-striped tbody tr:nth-child(4n + 3),
// ::ng-deep .p-datatable-striped tbody tr:nth-child(4n + 4) {
//   background-color: #f9f9f9;
// }

:host ::ng-deep .p-dropdown-panel .p-dropdown-filter-container {
  width: 100% !important;
}

:host ::ng-deep .p-dropdown-filter {
  width: 100% !important;
  margin: auto;
}
// :host ::ng-deep .p-tabmenu .p-tabmenu-nav {
//   height: 48px;
// }

// :host
//   ::ng-deep
//   .p-tabmenu
//   .p-tabmenu-nav
//   .p-tabmenuitem.p-highlight
//   .p-menuitem-link {
//   background: #0165ac;
//   border-color: #3b82f6;
//   color: #ffffff;
// }
// :host ::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
//   background: #ffffff;
//   color: #0165ac;
// }
// :host
//   ::ng-deep
//   .p-tabmenu
//   .p-tabmenu-nav
//   .p-tabmenuitem:not(.p-highlight)
//   .p-menuitem-link:hover {
//   background: #f9f9f9 !important;
//   border-color: #4f94d4 !important;
//   color: #0165ac !important;
// }
.p-button-primary {
  background-color:#fff !important;
  // border-color: lightgray !important;
  border-bottom-right-radius: 8px !important;
  border-top-right-radius: 8px !important;
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border: none !important;
  box-shadow: 0 0 4px 0 #00000040 !important;
}
.p-button-primary img{
  filter: brightness(0) saturate(100%) invert(46%) sepia(0%) saturate(0%) hue-rotate(187deg) brightness(91%) contrast(86%);
}
input {
  position: relative;
  overflow: hidden; /* Hide any overflow */
  // width: 383px !important;
  // height: 45px !important;
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  border: none !important;
  color: #838383 !important;
  box-shadow: 0 0 4px 0 #00000040 !important;
} 