<div>
  <div class="bread-crumb m-2">
    <p-breadcrumb [model]="breadCrumbItems"></p-breadcrumb>
  </div>
  <div>
    <div class="p-1 m-2">
      <div class="d-flex justify-content-between">
        <div
          class="d-flex align-items-center justify-content-center pointer-cursor"
          (click)="goBack()"
        >
          <span class="me-2 d-flex align-items-center">
            <img src="../../../assets/images/icons/left-arrow.svg" alt="Back" />
          </span>
          <!-- <span class="me-1">
            <img
              src="../../../../assets/images/menu/add-team.png"
              alt="Default Image"
              class=""
              style="height: 35px; width: 40px"
            />
          </span> -->
          <b>
            <span class="back-btn-text text-capitalize">{{ heading }}</span>
          </b>
        </div>
      </div>
    </div>
    <!-- <div class="bread-crumb m-2">
      <p-breadcrumb [model]="breadCrumbItems"></p-breadcrumb>
    </div> -->
  </div>
</div>
<div *ngIf="loading">
  <app-preloader></app-preloader>
</div>
<div class="card callback-form m-2" *ngIf="!loading">
  <form
    class="login-form"
    [formGroup]="teamForm"
    novalidate
    (ngSubmit)="onSubmit(teamForm.value)"
  >
    <div class="row">
      <!-- <div class="col-md-4 p-4">
        <img
          src="../../../../assets/images/leads/8.jpg"
          width="400"
          height="290"
          class="icon"
          alt="User Icon"
        />
      </div> -->
      <div class="col-md-12">
        <div class="row mt-4">
          <div class="col-md-4 mt-2">
            <div>
              <div class="my-1">
                <label>
                  Employee Id&nbsp;<span
                    ><sup class="text-danger">*</sup></span
                  ></label
                >
              </div>
              <input
                pInputText
                class="rounded-lg"
                type="text"
                formControlName="userId"
                placeholder="Enter Employee Id"
                autocomplete="off"
              />
            </div>
          </div>
          <div class="col-md-4 mt-2">
            <div>
              <div class="my-1">
                <label>
                  Name&nbsp;<span><sup class="text-danger">*</sup></span></label
                >
              </div>
              <input
                pInputText
                class="rounded-lg"
                type="text"
                formControlName="name"
                placeholder="Enter your Name"
                autocomplete="off"
              />
            </div>
          </div>
          <div class="col-md-4 mt-2">
            <div>
              <div class="my-1">
                <label
                  >Phone Number&nbsp;<span
                    ><sup class="text-danger">*</sup></span
                  ></label
                >
              </div>
              <input
                pInputText
                class="rounded-lg"
                type="text"
                placeholder="Enter Phone Number"
                formControlName="phone"
                autocomplete="off"
              />
            </div>
          </div>
          <div class="col-md-4 mt-2">
            <div>
              <div class="my-1">
                <label
                  >Email&nbsp;<span
                    ><sup class="text-danger">*</sup></span
                  ></label
                >
              </div>
              <input
                pInputText
                class="rounded-lg"
                type="email"
                placeholder="Enter email"
                formControlName="email"
                autocomplete="off"
              />
            </div>
          </div>
          <div class="col-md-4 mt-2">
            <div class="my-1">
              <label
                >Designation&nbsp;<span
                  ><sup class="text-danger">*</sup></span
                ></label
              >
            </div>
            <p-dropdown
              [options]="userRoles"
              formControlName="userType"
              optionLabel="name"
              optionValue="id"
              [showClear]="true"
              placeholder="Select Team"
              appendTo="body"
              [dropdownIcon]="'fa fa-caret-down'"
            ></p-dropdown>
          </div>

          <div class="col-md-4 mt-2">
            <div>
              <div class="my-1">
                <label
                  >Joining Date&nbsp;<span
                    ><sup class="text-danger">*</sup></span
                  ></label
                >
              </div>
              <!-- <p-calendar
                formControlName="joiningDate"
                placeholder="select Joining Date"
                [showIcon]="true"
                appendTo="body"
                dateFormat="yy-mm-dd"
                [showButtonBar]="true"
              ></p-calendar> -->
              <div class="custom-calendar-wrapper w-100">
                <p-calendar
                  #calendar
                 formControlName="joiningDate"
                placeholder="select Joining Date"
                  [showIcon]="false"
                  appendTo="body"
                  dateFormat="yy-mm-dd"
                  [showButtonBar]="true"
                  styleClass=" w-100"
                ></p-calendar>

                <!-- Custom Calendar Image Icon -->
                <img
                  src="../../../../assets/images/icons/calendar.svg"
                  alt="Calendar Icon"
                  class="calendar-custom-img"
                  (click)="calendar.toggle()"
                />
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-2">
            <div>
              <div class="my-1">
                <label class="text-success"> User Image</label>
              </div>
              <button
                pButton
                pRipple
                type="button"
                class="p-button-info me-2"
                (click)="uploadFiles('userImage', 'image/*')"
              >
                <i class="pi pi-upload"></i>&nbsp;Upload
              </button>
            </div>
            <div
              *ngIf="
                teamData && teamData.userImage && teamData.userImage.length > 0
              "
              class="mt-2"
            >
              <span
                *ngFor="let file of teamData.userImage"
                class="file-wrapper"
              >
                <a [href]="'//' + file" target="_blank">
                  <i
                    [class]="getFileIcon(file.split('.').pop())"
                    class="file-icon me-2"
                  ></i>
                </a>
                <button
                  pButton
                  *ngIf="this.capabilities.delete"
                  type="button"
                  class="delete-btn p-button-danger p-button-sm"
                  (click)="confirmDelete(file, 'userImage')"
                >
                  <i class="pi pi-times"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="d-flex">
          <button
            pButton
            pRipple
            type="button"
            class="p-button-info me-2"
            (click)="goBack()"
          >
            Go Back
          </button>
          <button
            pButton
            pRipple
            type="submit"
            [disabled]="!teamForm.valid"
            class="p-button-primary"
          >
            {{ actionType == "create" ? "Add" : "Update" }} Team
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
