<section
  class="d-flex align-items-center justify-content-center min-vh-100 background-radial-gradient overflow-hidden"
>
  <div class="container px-4 py-5 px-md-5 text-center text-lg-start">
    <div class="row gx-lg-5 align-items-center">
      <!-- Left Content -->
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1
          class="my-5 display-5 fw-bold ls-tight"
          style="color: hsl(218, 81%, 95%)"
        >
          Welcome to our <br />
          <div class="typing-text-container">
            <span style="color: hsl(218, 81%, 75%)">Loan CRM</span>
          </div>
        </h1>
        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
          A simple and powerful CRM tool made for business loan DSAs, financial
          consultants, loan agents, and lenders to manage leads, track progress,
          and grow your loan business easily.
        </p>
      </div>

      <!-- Login Card -->
      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div
          id="radius-shape-1"
          class="position-absolute rounded-circle shadow-5-strong"
        ></div>
        <div
          id="radius-shape-2"
          class="position-absolute shadow-5-strong"
        ></div>

        <div class="card">
          <div class="card-body px-4 py-5 px-md-5">
            <div class="card-logo d-flex mb-3">
              <img
                src="../../assets/images/logo.svg"
                alt="Business Logo"
                width="150"
                height="35"
              />
            </div>
            <div class="text-large text-left fw-medium mb-3">
              <span class="text-capitalize">Hi, Welcome Back 👋</span>
            </div>
            <form
              class="login-form"
              [formGroup]="loginForm"
              novalidate
              (ngSubmit)="onSubmit(loginForm.value)"
            >
              <div class="form-outline mb-4">
                <input
                  pInputText
                  class="rounded-lg w-100"
                  type="text"
                  id="username"
                  formControlName="username"
                  placeholder="Enter your email or phone number"
                  autocomplete="off"
                />
                <label class="form-label fw-medium" for="username"
                  >Email or Phone Number</label
                >
              </div>
              <div class="form-outline mb-4">
                <div class="p-inputgroup">
                  <input
                    pInputText
                    class="rounded-lg w-100"
                    id="password"
                    [type]="isPasswordVisible ? 'text' : 'password'"
                    placeholder="Enter your password"
                    formControlName="password"
                    autocomplete="off"
                  />
                  <!-- <span
                    class="p-inputgroup-addon"
                    (click)="togglePasswordVisibility()"
                  >
                    <i
                      class="pi custom-icon"
                      [ngClass]="isPasswordVisible ? 'pi-eye-slash' : 'pi-eye'"
                    ></i>
                  </span> -->

                  <span
                    class="p-inputgroup-addon"
                    (click)="togglePasswordVisibility()"
                    style="cursor: pointer"
                  >
                    <img
                      [src]="
                        isPasswordVisible
                          ? 'assets/images/icons/eye-slash.svg'
                          : 'assets/images/icons/eye.svg'
                      "
                      alt="Toggle Password Visibility"
                      width="20"
                      height="20"
                    />
                  </span>
                </div>
                <label class="form-label fw-medium" for="password"
                  >Password</label
                >
              </div>
              <div
                class="d-flex justify-content-between align-items-center mb-3"
              >
                <div></div>
                <a
                  class="text-decoration-none fw-medium text-primary"
                  (click)="doForgotPassword()"
                  style="cursor: pointer"
                >
                  Forgot Password?
                </a>
              </div>

              <button
                type="submit"
                pButton
                pRipple
                [disabled]="!loginForm.valid"
                class="p-button-primary mb-4 w-100"
                [class.disabled]="api_loading"
              >
                Sign In
              </button>
              <div class="text-center">
                <span class="text-muted">Don't have an account?</span>
                <a
                  routerLink="/user/register"
                  class="fw-bold text-primary text-decoration-none"
                >
                  Register here
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
