// .background-radial-gradient {
//   // background-image: url("../../assets/images/bg-image.jpg");
//   // background-size: cover;
//   // background-repeat: no-repeat;
//   // background-position: center;
//   // background-attachment: fixed;
//   // min-height: 100vh;
// }
section{
  height: 100% !important;
  overflow: hidden !important;
}
.calucard img {
  filter: invert(40%) sepia(10%) saturate(800%) hue-rotate(210deg)
    brightness(95%) contrast(90%) !important;
}
.p-inputgroup-addon img {
  filter: invert(40%) sepia(10%) saturate(800%) hue-rotate(210deg)
    brightness(95%) contrast(90%) !important;
}
.card {
  background-color: #ffffff;
  border-radius: 10px;
  border: 0.5px solid #878787 !important;
  width: 100%;
  max-width: 450px;
  box-shadow: 0px 4px 64px 0px #0000000D;

}
.card-greeting {
  color: #000;
}
.forgot-text {
  font-size: 14px;
  color: #ee7846 !important;
}
.p-inputgroup-addon {
  position: absolute;
  right: 1px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  padding: 0;
  z-index: 2;
}

.p-inputgroup input {
  // padding-right: 40px !important;
  border-radius: 5px;
}

.calculator-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  // margin-bottom: 30px;
  h6 {
    margin: 0;
    // font-weight: bold;
    white-space: nowrap;
    color: #000;
  }
  .line {
    flex: 1;
    height: 3px;
    background: linear-gradient(to right, transparent, #535ab4, transparent);
    border-radius: 2px;
    max-width: 150px;
  }
}

.calucard {
  background-color: #fff;
  border-radius: 0.5rem;
  border: 0.5px solid #878787;
  box-shadow: 0px 4px 64px 0px #0000000D;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}
.calci-heading {
  color: #000;
}
@media (max-width: 991px) {
  // .card {
  //   width: 100%;
  //   max-width: 100%;
  //   margin: 0 auto;
  // }

  .card {
    width: 90% !important;
    margin: auto; /* center horizontally */
  }
  .col-lg-6.d-flex {
    justify-content: center !important;
    align-items: center !important;
  }
  .calucard {
    width: 100%;
    margin-bottom: 20px;
  }

  .calculator-heading .line {
    max-width: 100px;
  }
}

// @media (max-width: 576px) {
//   .ca {
//     flex-direction: column;
//     align-items: center;
//   }

//   .ca .col-md-4 {
//     flex: 0 0 100%;
//     max-width: 100%;
//   }

//   .calucard {
//     width: 100%;
//   }
// }

@media (max-width: 576px) {
  .d-flex.ca {
    flex-direction: column !important;
    align-items: center;
    gap: 1rem;
  }

  .calucard {
    width: 90% !important; 
    max-width: 300px;
  }
  section{
  height: 100% !important;
  overflow: visible !important;
  margin: 0;
  }
}
