// ::ng-deep .p-datatable .p-datatable-thead > tr > th {
//   background: #13003a !important;
//   color: #fff !important;
// }
::ng-deep .bread-crumb .pi-home {
  color: #7a86b6 !important;
}
.custom-btn {
  height: 30px;
}
// ::ng-deep .p-datatable-striped tbody tr:nth-child(even) {
//   background-color: #f9f9f9;
// }

// ::ng-deep .p-datatable-striped tbody tr:nth-child(odd) {
//   background-color: #ffffff;
// }
:host ::ng-deep .p-dropdown-panel .p-dropdown-filter-container {
  width: 100% !important;
}

:host ::ng-deep .p-dropdown-filter {
  width: 100% !important;
  margin: auto;
}

// :host ::ng-deep .p-tabmenu .p-tabmenu-nav {
//   height: 48px;
// }

// :host
//   ::ng-deep
//   .p-tabmenu
//   .p-tabmenu-nav
//   .p-tabmenuitem.p-highlight
//   .p-menuitem-link {
//   background: #0165ac;
//   border-color: #3b82f6;
//   color: #ffffff;
// }
// :host ::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
//   background: #ffffff;
//   color: #0165ac;
// }
// :host
//   ::ng-deep
//   .p-tabmenu
//   .p-tabmenu-nav
//   .p-tabmenuitem:not(.p-highlight)
//   .p-menuitem-link:hover {
//   background: #f9f9f9 !important;
//   border-color: #4f94d4 !important;
//   color: #0165ac !important;
// }
