<div>
  <div>
    <div class="bread-crumb m-2">
      <p-breadcrumb [model]="breadCrumbItems"></p-breadcrumb>
    </div>
    <div class="p-1 m-2 fixed-card">
      <div class="d-flex justify-content-between">
        <div
          class="d-flex align-items-center justify-content-center pointer-cursor"
          (click)="goBack()"
        >
          <span class="me-2 d-flex align-items-center">
            <img src="../../../assets/images/icons/Vector.png" alt="Back" />
          </span>
          <!-- <span class="me-1">
            <img
              src="../../../../assets/images/menu/create-lender.png"
              alt="Default Image"
              class=""
              style="height: 35px; width: 40px"
            />
          </span> -->
          <b>
            <span class="back-btn-text text-capitalize">{{ heading }}</span>
          </b>
          <!-- <span class="back-btn-text text-capitalize">{{ heading }}</span> -->
        </div>
      </div>
    </div>
    <!-- <div class="bread-crumb m-2">
      <p-breadcrumb [model]="breadCrumbItems"></p-breadcrumb>
    </div> -->
  </div>
</div>

<div class="card lead-form m-2" *ngIf="!loading">
  <form [formGroup]="BankerForm" (ngSubmit)="onSubmit(BankerForm.value)">
    <div class="row">
      <!-- <div class="col-md-4 p-4">
        <img
          src="../../../../assets/images/leads/7.jpg"
          width="400"
          height="320"
          class="icon"
          alt="lenders Icon"
        />
      </div> -->
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4 mt-3">
            <label for="name"
              >Bank Name &nbsp;<span
                ><sup class="text-danger">*</sup></span
              ></label
            >
            <input
              id="name"
              formControlName="name"
              class="form-control"
              pInputText
              class="rounded-lg"
              type="text"
              placeholder="Enter  Bank name"
              autocomplete="off"
            />
          </div>
          <div class="col-md-4 mt-2">
            <div>
              <div class="my-1">
                <label class="text-success"> Bank Image</label>
              </div>
              <button
                pButton
                pRipple
                type="button"
                class="p-button-info me-2"
                (click)="uploadFiles('imageFiles', 'image/*')"
              >
                <i class="pi pi-upload"></i>&nbsp;Upload Files
              </button>
            </div>
            <div
              *ngIf="
                bankersData &&
                bankersData.imageFiles &&
                bankersData.imageFiles.length > 0
              "
              class="mt-2"
            >
              <span
                *ngFor="let file of bankersData.imageFiles"
                class="file-wrapper"
              >
                <a [href]="'//' + file" target="_blank">
                  <i
                    [class]="getFileIcon(file.split('.').pop())"
                    class="file-icon me-2"
                  ></i>
                </a>
                <button
                  pButton
                  *ngIf="this.capabilities.delete"
                  type="button"
                  class="delete-btn p-button-danger p-button-sm"
                  (click)="confirmDelete(file, 'imageFiles')"
                >
                  <i class="pi pi-times"></i>
                </button>
              </span>
            </div>
          </div>
          <div class="col-md-12 mt-2">
            <div class="my-1 text-end">
              <button
                pButton
                pRipple
                type="button"
                class="p-button-primary me-2"
                (click)="addBranchDetail()"
              >
                <i class="pi pi-plus"></i>&nbsp;Add Additional Branch Details
              </button>
            </div>
          </div>
        </div>
        <div formArrayName="branchDetails">
          <div
            *ngFor="let branchDetail of branchDetails.controls; let i = index"
            [formGroupName]="i"
            class="mb-3"
          >
            <h5 style="font-weight: bold; color: #29415b">
              Branch {{ i + 1 }} Details
            </h5>
            <div class="row">
              <div class="col-md-4 mt-2">
                <label for="branch"
                  >Branch &nbsp;<span
                    ><sup class="text-danger">*</sup></span
                  ></label
                >
                <input
                  type="text"
                  id="branch"
                  formControlName="branch"
                  class="form-control"
                  pInputText
                  class="rounded-lg"
                  placeholder="Enter  Branch"
                  autocomplete="off"
                />
              </div>
              <div class="col-md-4 mt-2">
                <label for="contactPerson"
                  >Contact Person &nbsp;<span
                    ><sup class="text-danger">*</sup></span
                  ></label
                >
                <input
                  type="text"
                  id="contactPerson"
                  formControlName="contactPerson"
                  class="form-control"
                  pInputText
                  class="rounded-lg"
                  placeholder="Enter  Person Name"
                  autocomplete="off"
                />
              </div>
              <div class="col-md-4 mt-2">
                <label for="designation"
                  >Designation &nbsp;<span
                    ><sup class="text-danger">*</sup></span
                  ></label
                >
                <input
                  type="text"
                  id="designation"
                  formControlName="designation"
                  class="form-control"
                  pInputText
                  class="rounded-lg"
                  placeholder="Enter Designation"
                  autocomplete="off"
                />
              </div>
              <div class="col-md-4 mt-2">
                <label for="phone"
                  >Phone &nbsp;<span
                    ><sup class="text-danger">*</sup></span
                  ></label
                >
                <input
                  type="text"
                  id="phone"
                  formControlName="phone"
                  class="form-control"
                  pInputText
                  class="rounded-lg"
                  maxlength="10"
                  placeholder="Enter  Phone Number"
                  autocomplete="off"
                />
              </div>
              <div class="col-md-4 mt-2">
                <label for="email"
                  >Email &nbsp;<span
                    ><sup class="text-danger">*</sup></span
                  ></label
                >
                <div class="d-flex">
                  <input
                    type="email"
                    id="email"
                    formControlName="email"
                    class="form-control"
                    pInputText
                    class="rounded-lg"
                    placeholder="Enter  Email"
                    autocomplete="off"
                  />
                  <button
                    pButton
                    pRipple
                    type="button"
                    class="p-button-danger ml-1"
                    *ngIf="i > 0"
                    (click)="deleteBranchDetail(i)"
                  >
                    <i class="pi pi-times"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="d-flex mt-3 mb-5">
        <button
          pButton
          pRipple
          type="button"
          class="p-button-info me-2"
          (click)="goBack()"
        >
          Go Back
        </button>
        <button
          pButton
          pRipple
          type="submit"
          class="p-button-primary"
          [disabled]="!BankerForm.valid"
        >
          {{ actionType == "create" ? "Add" : "Update" }} Lender
        </button>
      </div>
    </div>
  </form>
</div>
<div *ngIf="loading">
  <app-preloader></app-preloader>
</div>
