// ::ng-deep .p-datatable .p-datatable-thead > tr > th {
//   background: #13003a !important;
//   color: #fff !important;
// }

::ng-deep .custom-dropdown .p-dropdown-label.p-placeholder,
::ng-deep .custom-dropdown .p-dropdown-trigger {
  color: #ffffff;
}
// .statusdata {
//   padding-top: 4px;
//   padding-bottom: 4px;
//   border-radius: 20px;
//   padding-left: 10px;
//   padding-right: 10px;
// }

// ::ng-deep .p-datatable-striped tbody tr:nth-child(even) {
//   background-color: #f9f9f9;
// }

// ::ng-deep .p-datatable-striped tbody tr:nth-child(odd) {
//   background-color: #ffffff;
// }

/* Apply animation to the placeholder text */
// .p-inputgroup input::placeholder{
//   color: #7a86b6;
//   white-space: nowrap;
//   animation: move-placeholder 10s linear infinite;
//   opacity: 1;
// }
:host ::ng-deep .p-dropdown-panel .p-dropdown-filter-container {
  width: 100% !important;
}

:host ::ng-deep .p-dropdown-filter {
  width: 100% !important;
  margin: auto;
}
.p-button-primary {
  background-color:#fff !important;
  border-color: lightgray !important;
  border-bottom-right-radius: 8px !important;
  border-top-right-radius: 8px !important;
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}
