<div>
  <div class="card fixed-card">
    <div class="d-flex justify-content-between" *ngIf="leadData">
      <div class="pointer-cursor" (click)="goBack()">
        <span class="back-btn-icon me-2"
          ><i class="pi pi-arrow-left fw-bold"></i
        ></span>
        <span class="me-1">
          <img
            src="../../../../assets/images/menu/bank-selection.png"
            alt="Default Image"
            class=""
            style="height: 35px; width: 40px"
          />
        </span>

        <b>
          <span class="back-btn-text text-capitalize">{{
            leadData[0].businessName | capitalizeFirst
          }}</span></b
        >
      </div>
    </div>
  </div>
  <div class="bread-crumb">
    <p-breadcrumb [model]="breadCrumbItems"></p-breadcrumb>
  </div>
  <div *ngIf="loading">
    <app-preloader></app-preloader>
  </div>
  <div class="container ml-3 p-2" *ngIf="!loading">
    <div class="row">
      <div class="col-md-3 text-center">
        <div
          class="fw-bold m-2 p-2"
          style="color: rgba(2, 5, 129, 0.91); font-size: 30px"
        >
          <p>Select Program:</p>
        </div>
        <div *ngFor="let program of programs">
          <div class="card m-3 program">
            <label class="d-flex align-items-center">
              <p-radioButton
                type="radio"
                name="program"
                class="me-2"
                [(ngModel)]="selectedProgram"
                [value]="program.name"
              ></p-radioButton>
              <img
                [src]="program.imageUrl"
                alt="{{ program.name }}"
                height="60"
                width="160"
                class="me-2"
                style="border-radius: 10px"
              />
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div>
          <div
            class="d-flex align-items-center m-2 p-2 justify-content-between"
          >
            <div
              class="fw-bold"
              style="color: rgba(2, 5, 129, 0.91); font-size: 30px"
            >
              <p class="m-0">Select Banks</p>
            </div>
            <div
              class="p-inputgroup"
              style="flex-grow: 1; max-width: 400px; margin-left: 20px"
            >
              <input
                type="text"
                pInputText
                [style]="{ width: '100%' }"
                placeholder="Search For Banks..."
                [(ngModel)]="bankNameToSearch"
                (input)="filterBanks()"
              />
              <button
                type="button"
                pButton
                icon="pi pi-search"
                class="p-button-primary"
                [class.disabled]="!bankNameToSearch"
                (click)="filterWithBankName()"
              ></button>
            </div>
          </div>
          <div class="d-flex flex-wrap mt-4">
            <div *ngFor="let bank of filteredBanks" class="me-4 mb-3">
              <div class="card bank">
                <label class="d-flex flex-column align-items-center">
                  <div class="d-flex text-center">
                    <input
                      type="checkbox"
                      class="styled-checkbox me-2"
                      [(ngModel)]="bank.selected"
                      (change)="toggleSelected(bank)"
                    />
                    <a class="mt-2">
                      <img
                        *ngIf="
                          bank.imageUrl && bank.imageUrl.length > 0;
                          else noImage
                        "
                        [src]="'//' + bank.imageUrl"
                        alt="Image"
                        style="height: 40px; width: 90px"
                      />
                      <ng-template #noImage>
                        <img
                          src="../../../../assets/images/menu/noImage.png"
                          alt="No Image"
                          style="height: 30px; width: 80px"
                        />
                      </ng-template>
                    </a>
                  </div>
                  <span class="text">{{ bank.name }}</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row my-4">
      <div class="col text-center">
        <button
          pButton
          pRipple
          type="button"
          [disabled]="!selectedProgram"
          class="p-button-primary me-2"
          (click)="saveLoginInfo()"
        >
          Save Login Info
        </button>
      </div>
    </div>
  </div>
</div>
