<div>
  <div class="bread-crumb m-2">
    <p-breadcrumb [model]="breadCrumbItems"></p-breadcrumb>
  </div>
  <ng-container *ngFor="let item of displayedItems">
    <div class="m-2 p-1" *ngIf="item.data">
      <div class="d-flex justify-content-between">
        <div
          class="d-flex align-items-center justify-content-center pointer-cursor"
          (click)="goBack()"
        >
          <span class="me-2 d-flex align-items-center">
            <img src="../../../assets/images/icons/left-arrow.svg" alt="Back" />
          </span>
          <b>
            <span class="back-btn-text text-capitalize">
              {{ item.data[item.displayProperty] || "N/A" | capitalizeFirst }}
            </span>
          </b>
        </div>
      </div>
    </div>
  </ng-container>

  <div *ngIf="loading">
    <app-preloader></app-preloader>
  </div>
  <div class="m-2" *ngIf="!loading">
    <div class="" *ngIf="shouldDisplayBlock()">
      <div class="fw-medium" style="color: #29415b; font-size: 16px">
        <p>Select Surrogate:</p>
      </div>
      <!-- <div class="d-flex flex-wrap justify-content-center">
        <div
          *ngFor="let program of programs"
          class="col-md-3 d-flex justify-content-center"
        >
          <div class="card program w-100">
            <label class="d-flex justify-content-start">
              <p-radioButton
                type="radio"
                name="program"
                class="me-2"
                [(ngModel)]="selectedProgram"
                [value]="program.name"
              ></p-radioButton>
              <span class="fw-medium" style="font-size: 16px">
                {{ program.heading }}
              </span>
            </label>
          </div>
        </div>
      </div> -->
      <div class="container">
        <div class="row justify-content-center">
          <div
            *ngFor="let program of programs"
            class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center mb-3"
          >
            <div class="card program w-100 d-flex align-items-center">
              <label
                class="d-flex align-items-center w-100 px-3"
                style="margin-bottom: 0"
              >
                <p-radioButton
                  type="radio"
                  name="program"
                  class="me-2"
                  [(ngModel)]="selectedProgram"
                  [value]="program.name"
                ></p-radioButton>
                <span class="fw-medium" style="font-size: 16px">
                  {{ program.heading }}
                </span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-3 text-center">
        <div
          class="fw-bold m-2 p-2"
          style="color: rgba(2, 5, 129, 0.91); font-size: 30px"
        >
          <p>Select Program:</p>
        </div>
        <div *ngFor="let program of programs">
          <div class="card m-3 program">
            <label class="d-flex align-items-center">
              <p-radioButton
                type="radio"
                name="program"
                class="me-2"
                [(ngModel)]="selectedProgram"
                [value]="program.name"
              ></p-radioButton>
              <img
                [src]="program.imageUrl"
                alt="{{ program.name }}"
                height="60"
                width="160"
                class="me-2"
                style="border-radius: 10px"
              />
            </label>
          </div>
        </div>
      </div> -->

    <div class="d-flex align-items-center justify-content-between p-2">
      <div class="fw-medium" style="color: #29415b; font-size: 16px">
        <p class="m-0">Select Banks</p>
      </div>
    </div>
    <div class="card d-flex flex-wrap border-0">
      <!-- Search Input -->
      <div class="p-inputgroup m-2" style="flex-grow: 1; max-width: 400px">
        <input
          type="text"
          pInputText
          placeholder="Search For Banks..."
          [(ngModel)]="bankNameToSearch"
          (input)="filterBanks()"
          style="width: 100%"
        />
        <!-- <button
          type="button"
          pButton
          icon="pi pi-search"
          class="p-button-primary"
          [disabled]="!bankNameToSearch"
          (click)="filterWithBankName()"
        ></button> -->
        <button
          type="button"
          pButton
          class="p-button-primary search-btn"
          [disabled]="!bankNameToSearch"
          (click)="filterWithBankName()"
        >
          <img
            src="assets/images/icons/search.svg"
            alt="Search"
            width="16"
            height="16"
            style="vertical-align: middle"
          />
        </button>
      </div>

      <!-- Bank Cards -->
      <div class="row w-100">
        <div
          *ngFor="let bank of filteredBanks"
          class="col-12 col-sm-6 col-md-3 my-4 d-flex justify-content-center"
        >
          <div class="card bank w-100" style="max-width: 220px">
            <label class="d-flex flex-column align-items-center">
              <div
                class="d-flex justify-content-center align-items-center mb-2"
              >
                <input
                  type="checkbox"
                  class="styled-checkbox me-2"
                  [(ngModel)]="bank.selected"
                  (change)="toggleSelected(bank)"
                />

                <ng-container
                  *ngIf="
                    bank && bank.imageUrl && bank.imageUrl.length > 0;
                    else defaultImage
                  "
                >
                  <a>
                    <img
                      [src]="'//' + bank.imageUrl[0]"
                      alt="Bank Logo"
                      style="height: 60px; width: 116px"
                    />
                  </a>
                </ng-container>

                <ng-template #defaultImage>
                  <img
                    src="../../../../assets/images/menu/noImage.png"
                    alt="No Image"
                    style="height: 60px; width: 116px"
                  />
                </ng-template>
              </div>
              <span class="text-capitalize text-center">{{ bank.name }}</span>
            </label>
          </div>
        </div>
      </div>
      <div
        style="max-height: 500px; overflow-y: auto"
        class="w-100 px-2 bankscard"
      >
        <div class="row w-100">
          <div
            *ngFor="let bank of filteredBanks"
            class="col-12 col-sm-6 col-md-3 my-4 d-flex justify-content-center"
          >
            <div class="card bank w-100" style="max-width: 220px">
              <label class="d-flex flex-column align-items-center">
                <div
                  class="d-flex justify-content-center align-items-center mb-2"
                >
                  <input
                    type="checkbox"
                    class="styled-checkbox me-2"
                    [(ngModel)]="bank.selected"
                    (change)="toggleSelected(bank)"
                  />

                  <ng-container
                    *ngIf="
                      bank && bank.imageUrl && bank.imageUrl.length > 0;
                      else defaultImage
                    "
                  >
                    <a>
                      <img
                        [src]="'//' + bank.imageUrl[0]"
                        alt="Bank Logo"
                        style="height: 60px; width: 116px"
                      />
                    </a>
                  </ng-container>

                  <ng-template #defaultImage>
                    <img
                      src="../../../../assets/images/menu/noImage.png"
                      alt="No Image"
                      style="height: 60px; width: 116px"
                    />
                  </ng-template>
                </div>
                <span class="text-center text-capitalize">{{
                  bank.name | capitalizeFirst
                }}</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row my-4">
      <div class="col text-center">
        <button
          *ngIf="shouldDisplayBlock()"
          pButton
          pRipple
          type="button"
          [disabled]="!selectedProgram"
          class="p-button-primary me-2"
          (click)="saveLoginInfo()"
        >
          Save Login Info
        </button>
        <button
          *ngIf="
            leadData &&
            ((leadData[0].loanType === 'personalLoan' &&
              leadData[0].employmentStatus === 'employed') ||
              (leadData[0].loanType === 'homeLoan' &&
                leadData[0].employmentStatus === 'employed') ||
              (leadData[0].loanType === 'lap' &&
                leadData[0].employmentStatus === 'employed'))
          "
          pButton
          pRipple
          type="button"
          class="p-button-primary me-2"
          (click)="saveLoanLoginInfo()"
        >
          Save Login Info
        </button>
      </div>
    </div>
  </div>
</div>
