<div>
  <div class="m-2 p-1 fixed-card">
    <div class="d-flex justify-content-between">
      <div
        class="d-flex align-items-center justify-content-center pointer-cursor"
        (click)="goBack()"
      >
        <span class="me-2 d-flex align-items-center">
          <img src="../../../assets/images/icons/left-arrow.svg" alt="Back" />
        </span>
        <!-- <span class="me-1">
          <img
            src="../../../assets/images/menu/disbursal.png"
            alt="Default Image"
            class=""
            style="height: 35px; width: 40px"
          />
        </span> -->
        <b>
          <span class="back-btn-text">Disbursals</span>
        </b>
        <!-- <span class="back-btn-text text-capitalize">Disbursals</span> -->
      </div>
    </div>
  </div>
  <!-- <div class="bread-crumb">
    <p-breadcrumb [model]="breadCrumbItems"></p-breadcrumb>
  </div> -->
  <div class="text-capitalize m-2">
    <p-table
      #leadsTable
      [value]="leads"
      [lazy]="true"
      (onLazyLoad)="loadLeads($event)"
      (onRowSelect)="viewLead($event)"
      selectionMode="single"
      dataKey="id"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10, 25, 50]"
      [paginator]="true"
      [rows]="10"
      [totalRecords]="totalLeadsCount"
      [loading]="apiLoading"
      responsiveLayout="scroll"
      scrollHeight="flex"
      class="p-datatable-striped"
      [globalFilterFields]="[
        'referenceNo',
        'customer.firstName',
        'partner.partnerName',
        'status'
      ]"
      styleClass="p-datatable-customers "
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords}  Disbursals"
    >
      <ng-template pTemplate="caption">
        <div class="row">
          <div class="col-md-3 mt-2 no-padding-small">
            <div class="p-inputgroup">
              <input
                type="text"
                pInputText
                placeholder="Search File with Business Name"
                [(ngModel)]="businessNameToSearch"
                (ngModelChange)="
                  inputValueChangeEvent('loanId', businessNameToSearch)
                "
                (keyup.enter)="filterWithBusinessName()"
              />
              <!-- <button
                type="button"
                pButton
                icon="pi pi-search"
                class="p-button-primary"
                [disabled]="!businessNameToSearch"
                (click)="filterWithBusinessName()"
              ></button> -->
              <button
                type="button"
                pButton
                class="p-button-primary"
                [disabled]="!businessNameToSearch"
                (click)="filterWithBusinessName()"
              >
                <img
                  src="assets/images/icons/search.svg"
                  alt="Search"
                  width="16"
                  height="16"
                  style="vertical-align: middle"
                />
              </button>
            </div>
          </div>
          <div class="col-md-3 mt-2 no-padding-small">
            <div class="p-inputgroup">
              <input
                type="text"
                pInputText
                placeholder="Search File with Mobile Number"
                [(ngModel)]="mobileNumberToSearch"
                (ngModelChange)="
                  inputValueChangeEvent('loanId', mobileNumberToSearch)
                "
                (keyup.enter)="filterWithMobileNumber()"
              />
              <!-- <button
                type="button"
                pButton
                icon="pi pi-search"
                class="p-button-primary"
                [disabled]="!mobileNumberToSearch"
                (click)="filterWithMobileNumber()"
              ></button> -->
              <button
                type="button"
                pButton
                class="p-button-primary"
                [disabled]="!mobileNumberToSearch"
                (click)="filterWithMobileNumber()"
              >
                <img
                  src="assets/images/icons/search.svg"
                  alt="Search"
                  width="16"
                  height="16"
                  style="vertical-align: middle"
                />
              </button>
            </div>
          </div>
          <div class="col-md-3 mt-2 no-padding-small text-right">
            <div class="d-flex">
              <div class="flex-grow-1 me-2">
                <div
                  class="p-inputgroup"
                  *ngIf="
                    userDetails &&
                    userDetails.userType &&
                    userDetails.userType != '3'
                  "
                >
                  <p-dropdown
                    styleClass="text-left"
                    [style]="{ width: '100%' }"
                    [options]="leadUsers"
                    (onChange)="statusChange($event)"
                    [dropdownIcon]="'fa fa-caret-down'"
                    [(ngModel)]="selectedSourcedByStatus"
                    optionLabel="name"
                    dataKey="name"
                    appendTo="body"
                    [filter]="true"
                    filterPlaceholder="Search..."
                  >
                  </p-dropdown>
                </div>
              </div>
              <div class="d-flex align-items-center pointer-cursor">
                <app-filter
                  [position]="'right'"
                  [iconColor]="'#33009C'"
                  [iconSize]="'28px!important'"
                  (filterEvent)="applyConfigFilters($event)"
                  [filterConfig]="filterConfig"
                  [showFilterIndication]="appliedFilter"
                  pTooltip="Filter"
                  tooltipPosition="top"
                >
                </app-filter>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th class="text-nowrap">Lead Id</th>
          <th class="text-nowrap">Business Name</th>
          <th class="text-nowrap">Sanctioned Amount</th>
          <th class="text-nowrap">Disbursed Amount</th>
          <th class="text-nowrap">Sourced By</th>
          <!-- <th class="text-nowrap">Created Date</th> -->
          <th class="text-nowrap">Disbursed Date</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-lead>
        <tr class="text-capitalize" [pSelectableRow]="lead">
          <td>
            <span class="table-column-data" *ngIf="lead.customId">{{
              lead.customId
            }}</span>
          </td>
          <td>
            <span class="table-column-data" *ngIf="lead.businessName">{{
              lead.businessName | capitalizeFirst
            }}</span>
          </td>
          <td>
            <span class="table-column-data" *ngIf="lead.id">
              {{ lead.sanctionedAmount }}
            </span>
          </td>
          <td>
            <span class="table-column-data" *ngIf="lead.id">
              {{ lead.disbursedAmount }}
            </span>
          </td>
          <td>
            <span class="table-column-data" *ngIf="lead.sourcedBy">{{
              getSourceName(lead.sourcedBy) | capitalizeFirst
            }}</span>
          </td>
          <!-- <td>
            <span class="table-column-data" *ngIf="lead.createdOn">{{
              lead.createdOn | date : "mediumDate"
            }}</span>
          </td> -->
          <td>
            <span class="table-column-data" *ngIf="lead.disbursalDate">{{
              lead.disbursalDate | date : "mediumDate"
            }}</span>
          </td>
          <td>
            <div class="text-center">
              <div class="d-flex">
                <!-- <p-menu
                  appendTo="body"
                  #menu
                  [model]="actionItems(lead)"
                  [popup]="true"
                ></p-menu> -->
                <!-- <button
                  pButton
                  type="button"
                  class="custom-btn"
                  (click)="menu.toggle($event)"
                  icon="fas fa-bars"
                  pTooltip="Actions"
                  tooltipPosition="top"
                ></button> -->
                <!-- <img
                  src="../../../assets/images/icons/menu.svg"
                  width="24px"
                  height="24px"
                  pTooltip="Actions"
                  tooltipPosition="top"
                  (click)="menu.toggle($event); $event.stopPropagation()"
                /> -->

                <img
                  src="../../../assets/images/icons/disbursal.svg"
                  width="24px"
                  height="24px"
                  class="me-2"
                  (click)="disbursalDetails(lead.id); $event.stopPropagation()"
                  pTooltip="Disbursal Details"
                  tooltipPosition="top"
                />
                <img
                  *ngIf="userDetails?.userType == 1"
                  src="../../../assets/images/icons/revenue.svg"
                  width="24px"
                  height="24px"
                  (click)="revenueDetails(lead.id); $event.stopPropagation()"
                  pTooltip="Revenue"
                  tooltipPosition="top"
                />
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr class="text-center">
          <td colspan="10" class="text-center fw-bold">
            <img
              src="../../../assets/images/menu/no-data.gif"
              width="200"
              height="200"
            />
            <p>No Disbursals Found</p>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
