<div>
  <div class="m-2 p-1 fixed-card">
    <div class="d-flex justify-content-between">
      <div
        class="d-flex align-items-center justify-content-center pointer-cursor"
        (click)="goBack()"
      >
        <span class="me-2 d-flex align-items-center">
          <img src="../../../assets/images/icons/left-arrow.svg" alt="Back" />
        </span>
        <b>
          <span class="back-btn-text">Disbursals</span>
        </b>
      </div>
    </div>
  </div>
  <div class="text-capitalize m-2">
    <p-tabMenu
      [model]="items"
      class="tabdesign"
      [activeItem]="activeItem"
      (activeItemChange)="onActiveItemChange($event)"
    ></p-tabMenu>
    <div *ngIf="activeItem && activeItem.name">
      <div *ngIf="activeItem.name == 'businessLoan'">
        <p-table
          #leadsTable
          [value]="leads"
          [lazy]="true"
          (onLazyLoad)="loadLeads($event)"
          (onRowSelect)="viewLead($event)"
          selectionMode="single"
          dataKey="id"
          [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[10, 25, 50]"
          [paginator]="true"
          [rows]="10"
          [totalRecords]="totalLeadsCount"
          [loading]="apiLoading"
          responsiveLayout="scroll"
          scrollHeight="flex"
          class="p-datatable-striped"
          [globalFilterFields]="[
            'referenceNo',
            'customer.firstName',
            'partner.partnerName',
            'status'
          ]"
          styleClass="p-datatable-customers "
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords}  Disbursals"
        >
          <ng-template pTemplate="caption">
            <div class="row">
              <div class="col-md-3 mt-2 no-padding-small">
                <div class="p-inputgroup">
                  <input
                    type="text"
                    pInputText
                    placeholder="Search File with Business Name"
                    [(ngModel)]="businessNameToSearch"
                    (ngModelChange)="
                      inputValueChangeEvent('loanId', businessNameToSearch)
                    "
                    (keyup.enter)="filterWithBusinessName()"
                  />
                  <button
                    type="button"
                    pButton
                    class="p-button-primary"
                    [disabled]="!businessNameToSearch"
                    (click)="filterWithBusinessName()"
                  >
                    <img
                      src="assets/images/icons/search.svg"
                      alt="Search"
                      width="16"
                      height="16"
                      style="vertical-align: middle"
                    />
                  </button>
                </div>
              </div>
              <div class="col-md-3 mt-2 no-padding-small">
                <div class="p-inputgroup">
                  <input
                    type="text"
                    pInputText
                    placeholder="Search File with Mobile Number"
                    [(ngModel)]="mobileNumberToSearch"
                    (ngModelChange)="
                      inputValueChangeEvent('loanId', mobileNumberToSearch)
                    "
                    (keyup.enter)="filterWithMobileNumber()"
                  />
                  <button
                    type="button"
                    pButton
                    class="p-button-primary"
                    [disabled]="!mobileNumberToSearch"
                    (click)="filterWithMobileNumber()"
                  >
                    <img
                      src="assets/images/icons/search.svg"
                      alt="Search"
                      width="16"
                      height="16"
                      style="vertical-align: middle"
                    />
                  </button>
                </div>
              </div>
              <div class="col-md-3 mt-2 no-padding-small text-right">
                <div class="d-flex">
                  <div class="flex-grow-1 me-2">
                    <div
                      class="p-inputgroup"
                      *ngIf="
                        userDetails &&
                        userDetails.userType &&
                        userDetails.userType != '3'
                      "
                    >
                      <p-dropdown
                        styleClass="text-left"
                        [style]="{ width: '100%' }"
                        [options]="leadUsers"
                        (onChange)="statusChange($event)"
                        [dropdownIcon]="'fa fa-caret-down'"
                        [(ngModel)]="selectedSourcedByStatus"
                        optionLabel="name"
                        dataKey="name"
                        appendTo="body"
                        [filter]="true"
                        filterPlaceholder="Search..."
                      >
                      </p-dropdown>
                    </div>
                  </div>
                  <div class="d-flex align-items-center pointer-cursor">
                    <app-filter
                      [position]="'right'"
                      [iconColor]="'#33009C'"
                      [iconSize]="'28px!important'"
                      (filterEvent)="applyConfigFilters($event, '')"
                      [filterConfig]="filterConfig"
                      [showFilterIndication]="appliedFilter"
                      pTooltip="Filter"
                      tooltipPosition="top"
                    >
                    </app-filter>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th class="text-nowrap">Lead Id</th>
              <th class="text-nowrap">Business Name</th>
              <th class="text-nowrap">Sanctioned Amount</th>
              <th class="text-nowrap">Disbursed Amount</th>
              <th class="text-nowrap">Sourced By</th>
              <!-- <th class="text-nowrap">Created Date</th> -->
              <th class="text-nowrap">Disbursed Date</th>
              <th>Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-lead>
            <tr class="text-capitalize" [pSelectableRow]="lead">
              <td>
                <span class="table-column-data">{{
                  lead.customId || "-"
                }}</span>
              </td>
              <td>
                <span class="table-column-data" *ngIf="lead.businessName">{{
                  lead.businessName
                    ? (lead.businessName | capitalizeFirst)
                    : "-"
                }}</span>
              </td>
              <td>
                <span class="table-column-data" *ngIf="lead.id">
                  {{
                    lead.sanctionedAmount
                      ? (lead.sanctionedAmount | capitalizeFirst)
                      : "-"
                  }}
                </span>
              </td>
              <td>
                <span class="table-column-data" *ngIf="lead.id">
                  {{
                    lead.disbursedAmount
                      ? (lead.disbursedAmount | capitalizeFirst)
                      : "-"
                  }}
                </span>
              </td>
              <td>
                <span class="table-column-data" *ngIf="lead.sourcedBy">{{
                  lead.sourcedBy
                    ? (getSourceName(lead.sourcedBy) | capitalizeFirst)
                    : "-"
                }}</span>
              </td>
              <!-- <td>
            <span class="table-column-data" *ngIf="lead.createdOn">{{
              lead.createdOn | date : "mediumDate"
            }}</span>
          </td> -->
              <td>
                <span class="table-column-data">{{
                  lead.disbursalDate
                    ? (lead.disbursalDate | date : "mediumDate")
                    : "-"
                }}</span>
              </td>
              <td>
                <div class="text-center">
                  <div class="d-flex">
                    <img
                      alt="Disbursal Details"
                      src="../../../assets/images/icons/disbursal.svg"
                      width="24px"
                      height="24px"
                      class="me-2"
                      (click)="disbursalDetails(lead); $event.stopPropagation()"
                      pTooltip="Disbursal Details"
                      tooltipPosition="top"
                    />
                    <img
                      alt="Revenue Details"
                      *ngIf="userDetails?.userType == 1"
                      src="../../../assets/images/icons/revenue.svg"
                      width="24px"
                      height="24px"
                      (click)="revenueDetails(lead); $event.stopPropagation()"
                      pTooltip="Revenue"
                      tooltipPosition="top"
                    />
                  </div>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr class="text-center">
              <td colspan="10" class="text-center fw-bold">
                <img
                  alt="No Data"
                  src="../../../assets/images/menu/no-data.gif"
                  width="200"
                  height="200"
                />
                <p>No Disbursals Found</p>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

      <div *ngIf="activeItem.name == 'personalLoan'">
        <div class="text-capitalize">
          <p-table
            #personalleadsTable
            [value]="loanLeads"
            [sortOrder]="-1"
            [lazy]="true"
            selectionMode="single"
            (onLazyLoad)="loadLeadsforPersonal($event)"
            (onRowSelect)="viewLead($event)"
            dataKey="id"
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10, 25, 50]"
            [paginator]="true"
            [rows]="10"
            class="p-datatable-striped"
            [totalRecords]="personalloanLeadsCount"
            [loading]="loanleadsLoading"
            responsiveLayout="scroll"
            scrollHeight="flex"
            [globalFilterFields]="[
              'referenceNo',
              'customer.firstName',
              'partner.partnerName',
              'status'
            ]"
            styleClass="p-datatable-customers "
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Files"
          >
            <ng-template pTemplate="caption">
              <div class="row">
                <div class="col-md-3 mt-2 no-padding-small">
                  <div class="p-inputgroup">
                    <input
                      type="text"
                      pInputText
                      placeholder="Search File with Applicant Name"
                      [(ngModel)]="businessNameToSearchForPersonal"
                      (ngModelChange)="
                        inputValueChangeEventForPersonal(
                          'loanId',
                          businessNameToSearchForPersonal
                        )
                      "
                      (keyup.enter)="filterWithBusinessNameForPersonal()"
                    />

                    <button
                      type="button"
                      pButton
                      class="p-button-primary"
                      [disabled]="!businessNameToSearchForPersonal"
                      (click)="filterWithBusinessNameForPersonal()"
                    >
                      <img
                        alt="Search"
                        src="assets/images/icons/search.svg"
                        alt="Search"
                        width="16"
                        height="16"
                        style="vertical-align: middle"
                      />
                    </button>
                  </div>
                </div>
                <div class="col-md-6 mt-2 no-padding-small"></div>
                <div class="col-md-3 mt-2 no-padding-small text-right">
                  <div class="d-flex">
                    <div class="flex-grow-1 me-2">
                      <div
                        class="p-inputgroup"
                        *ngIf="
                          userDetails &&
                          userDetails.userType &&
                          userDetails.userType != '3'
                        "
                      >
                        <br class="d-lg-none d-md-none" />
                        <p-dropdown
                          styleClass="text-left"
                          [style]="{ width: '100%' }"
                          [options]="leadUsers"
                          (onChange)="statusChangeForPersonal($event)"
                          [dropdownIcon]="'fa fa-caret-down'"
                          [(ngModel)]="SourcedByForPersonal"
                          optionLabel="name"
                          dataKey="name"
                          appendTo="body"
                          [filter]="true"
                          filterPlaceholder="Search..."
                        >
                        </p-dropdown>
                      </div>
                    </div>
                    <div class="d-flex align-items-center pointer-cursor">
                      <app-filter
                        [position]="'right'"
                        [iconColor]="'#33009C'"
                        [iconSize]="'28px!important'"
                        (filterEvent)="applyConfigFilters($event, 'Personal')"
                        [filterConfig]="personalfilterConfig"
                        [showFilterIndication]="appliedFilterPersonal"
                        pTooltip="Filter"
                        tooltipPosition="top"
                      >
                      </app-filter>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th class="text-nowrap">Lead Id</th>
                <th class="text-nowrap">Applicant Name</th>
                <!-- <th>Designation</th>
                <th>Salary</th> -->
                <th class="text-nowrap">Sanctioned Amount</th>
                <th class="text-nowrap">Disbursed Amount</th>

                <th
                  class="text-nowrap"
                  *ngIf="
                    userDetails &&
                    userDetails.userType &&
                    userDetails.userType != '3'
                  "
                >
                  Sourced By
                </th>
                <th class="text-nowrap">Disbursal Date</th>
                <th>Actions</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-lead>
              <tr [pSelectableRow]="lead">
                <td>
                  <span
                    class="table-column-data singleline"
                    *ngIf="lead.customId"
                    >{{ lead.customId }}</span
                  >
                </td>
                <td>
                  <span class="table-column-data singleline">{{
                    lead.contactPerson
                      ? (lead.contactPerson | capitalizeFirst)
                      : "-"
                  }}</span>
                </td>
                <!-- <td>
                  <span class="table-column-data" *ngIf="lead.designation">{{
                    lead.designation | capitalizeFirst
                  }}</span>
                </td>

                <td>
                  <span class="table-column-data" *ngIf="lead.salary">{{
                    lead.salary | capitalizeFirst
                  }}</span>
                </td> -->
                <td>
                  <span class="table-column-data">{{
                    lead.sanctionedAmount ? lead.sanctionedAmount : "-"
                  }}</span>
                </td>
                <td>
                  <span class="table-column-data">{{
                    lead.disbursedAmount ? lead.disbursedAmount : "-"
                  }}</span>
                </td>
                <td
                  *ngIf="
                    userDetails &&
                    userDetails.userType &&
                    userDetails.userType != '3'
                  "
                >
                  <span class="table-column-data singleline">{{
                    lead.sourcedByName
                      ? (lead.sourcedByName | capitalizeFirst)
                      : "-"
                  }}</span>
                </td>
                <td>
                  <span class="table-column-data">{{
                    lead.disbursalDate
                      ? (lead.disbursalDate | date : "mediumDate")
                      : "-"
                  }}</span>
                </td>
                <td>
                  <div class="text-center">
                    <div class="d-flex">
                      <img
                        alt="Disbursal Details"
                        src="../../../assets/images/icons/disbursal.svg"
                        width="24px"
                        height="24px"
                        class="me-2"
                        (click)="
                          disbursalDetails(lead); $event.stopPropagation()
                        "
                        pTooltip="Disbursal Details"
                        tooltipPosition="top"
                      />
                      <img
                        alt="Revenue Details"
                        *ngIf="userDetails?.userType == 1"
                        src="../../../assets/images/icons/revenue.svg"
                        width="24px"
                        height="24px"
                        (click)="revenueDetails(lead); $event.stopPropagation()"
                        pTooltip="Revenue"
                        tooltipPosition="top"
                      />
                    </div>
                  </div>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr class="text-center">
                <td colspan="10" class="text-center fw-bold">
                  <img
                    alt="No Data"
                    src="../../../assets/images/menu/no-data.gif"
                    width="200"
                    height="200"
                  />
                  <p>No Files Found</p>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
      <div *ngIf="activeItem.name == 'homeLoan'">
        <p-tabMenu
          [model]="employmentStatus"
          class="tabdesign"
          [activeItem]="activeEmploymentStatus"
          (activeItemChange)="onActiveEmploymentStatusChange($event)"
        ></p-tabMenu>
        <ng-container
          *ngIf="activeEmploymentStatus && activeEmploymentStatus.name"
        >
          <ng-container
            *ngIf="
              activeEmploymentStatus.name == 'employed' ||
              activeEmploymentStatus.name == 'self-employed'
            "
          >
            <div class="text-capitalize">
              <p-table
                #HomeleadsTable
                [value]="loanLeads"
                [sortOrder]="-1"
                [lazy]="true"
                (onLazyLoad)="
                  activeEmploymentStatus.name == 'employed'
                    ? loadLeadsforHome($event)
                    : loadLeadsforHomeself($event)
                "
                (onRowSelect)="viewLead($event)"
                selectionMode="single"
                dataKey="id"
                [showCurrentPageReport]="true"
                [rowsPerPageOptions]="[10, 25, 50]"
                [paginator]="true"
                [rows]="10"
                class="p-datatable-striped"
                [totalRecords]="
                  activeEmploymentStatus.name == 'employed'
                    ? homeloanLeadsCount
                    : homeloanselfLeadsCount
                "
                [loading]="loanleadsLoading"
                responsiveLayout="scroll"
                scrollHeight="flex"
                [globalFilterFields]="[
                  'referenceNo',
                  'customer.firstName',
                  'partner.partnerName',
                  'status'
                ]"
                styleClass="p-datatable-customers "
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Files"
              >
                <ng-template pTemplate="caption">
                  <div class="row">
                    <div class="col-md-3 mt-2 no-padding-small">
                      <div class="p-inputgroup">
                        <input
                          type="text"
                          pInputText
                          [placeholder]="
                            activeEmploymentStatus.name === 'employed'
                              ? 'Search File with Person Name'
                              : 'Search File with Business Name'
                          "
                          [(ngModel)]="searchInputValue"
                          (ngModelChange)="handleInputChange($event)"
                          (keyup.enter)="filterBasedOnEmploymentStatus()"
                        />

                        <button
                          type="button"
                          pButton
                          class="p-button-primary"
                          [disabled]="!searchInputValue"
                          (click)="filterBasedOnEmploymentStatus()"
                        >
                          <img
                            src="assets/images/icons/search.svg"
                            alt="Search"
                            width="16"
                            height="16"
                            style="vertical-align: middle"
                          />
                        </button>
                      </div>
                    </div>
                    <div class="col-md-6 mt-2 no-padding-small"></div>
                    <div class="col-md-3 mt-2 no-padding-small text-right">
                      <div class="d-flex">
                        <div class="flex-grow-1 me-2">
                          <div
                            class="p-inputgroup"
                            *ngIf="
                              userDetails &&
                              userDetails.userType &&
                              userDetails.userType != '3'
                            "
                          >
                            <br class="d-lg-none d-md-none" />
                            <p-dropdown
                              styleClass="text-left"
                              [style]="{ width: '100%' }"
                              [options]="leadUsers"
                              (onChange)="
                                activeEmploymentStatus.name === 'employed'
                                  ? statusChangeForHome($event)
                                  : statusChangeForHomeSelf($event)
                              "
                              [dropdownIcon]="'fa fa-caret-down'"
                              [(ngModel)]="SourcedByForHome"
                              optionLabel="name"
                              dataKey="name"
                              [filter]="true"
                              filterPlaceholder="Search..."
                            >
                            </p-dropdown>
                          </div>
                        </div>
                        <div class="d-flex align-items-center pointer-cursor">
                          <app-filter
                            [position]="'right'"
                            [iconColor]="'#33009C'"
                            [iconSize]="'28px!important'"
                            (filterEvent)="
                              activeEmploymentStatus.name === 'employed'
                                ? applyConfigFilters($event, 'Home')
                                : applyConfigFilters($event, 'Homeself')
                            "
                            [filterConfig]="
                              activeEmploymentStatus.name === 'employed'
                                ? HomefilterConfig
                                : HomeSelffilterConfig
                            "
                            [showFilterIndication]="
                              activeEmploymentStatus.name === 'employed'
                                ? appliedFilterHome
                                : appliedFilterHomeself
                            "
                            pTooltip="Filter"
                            tooltipPosition="top"
                          >
                          </app-filter>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th class="text-nowrap">Lead Id</th>
                    <th
                      class="text-nowrap"
                      *ngIf="activeEmploymentStatus.name === 'employed'"
                    >
                      Person Name
                    </th>
                    <th
                      class="text-nowrap"
                      *ngIf="activeEmploymentStatus.name === 'self-employed'"
                    >
                      Business Name
                    </th>
                    <!-- <th *ngIf="activeEmploymentStatus.name === 'employed'">
                      Designation
                    </th>
                    <th
                      class="text-nowrap"
                      *ngIf="activeEmploymentStatus.name === 'self-employed'"
                    >
                      Business Entity
                    </th>
                    <th *ngIf="activeEmploymentStatus.name === 'employed'">
                      Salary
                    </th>
                    <th
                      class="text-nowrap"
                      *ngIf="activeEmploymentStatus.name === 'self-employed'"
                    >
                      Contact Person
                    </th>
                    <th
                      class="text-nowrap"
                      *ngIf="activeEmploymentStatus.name === 'employed'"
                    >
                      Job Experience
                    </th>
                    <th
                      class="text-nowrap"
                      *ngIf="activeEmploymentStatus.name === 'self-employed'"
                    >
                      Business Turnover
                    </th> -->
                    <th class="text-nowrap">Sanctioned Amount</th>
                    <th class="text-nowrap">Disbursed Amount</th>
                    <th
                      class="text-nowrap"
                      *ngIf="
                        userDetails &&
                        userDetails.userType &&
                        userDetails.userType != '3'
                      "
                    >
                      Sourced By
                    </th>
                    <!-- <th class="text-nowrap">Created Date</th> -->
                    <th class="text-nowrap">Disbursal Date</th>
                    <th>Actions</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-lead>
                  <tr [pSelectableRow]="lead">
                    <td>
                      <span
                        class="table-column-data singleline"
                        *ngIf="lead.customId"
                        >{{ lead.customId }}</span
                      >
                    </td>
                    <td *ngIf="activeEmploymentStatus.name === 'employed'">
                      <span class="table-column-data singleline">{{
                        lead.contactPerson
                          ? (lead.contactPerson | capitalizeFirst)
                          : "-"
                      }}</span>
                    </td>
                    <td *ngIf="activeEmploymentStatus.name === 'self-employed'">
                      <span class="table-column-data singleline">{{
                        lead.businessName
                          ? (lead.businessName | capitalizeFirst)
                          : "-"
                      }}</span>
                    </td>
                    <!-- <td *ngIf="activeEmploymentStatus.name === 'employed'">
                      <span class="table-column-data singleline">{{
                        lead.designation
                          ? (lead.designation | capitalizeFirst)
                          : "-"
                      }}</span>
                    </td>
                    <td *ngIf="activeEmploymentStatus.name === 'self-employed'">
                      <span class="table-column-data">{{
                        lead.businessEntity
                          ? getEntityName(lead.businessEntity)
                          : "-"
                      }}</span>
                    </td>
                    <td *ngIf="activeEmploymentStatus.name === 'employed'">
                      <span class="table-column-data">{{
                        lead.salary ? lead.salary : "-"
                      }}</span>
                    </td>
                    <td *ngIf="activeEmploymentStatus.name === 'self-employed'">
                      <span class="table-column-data singleline">{{
                        lead.contactPerson
                          ? (lead.contactPerson | capitalizeFirst)
                          : "-"
                      }}</span>
                    </td>
                    <td *ngIf="activeEmploymentStatus.name === 'employed'">
                      <span class="table-column-data">{{
                        lead.jobExperience ? lead.jobExperience : "-"
                      }}</span>
                    </td>
                    <td *ngIf="activeEmploymentStatus.name === 'self-employed'">
                      <span class="table-column-data">{{
                        lead.businessTurnover ? lead.businessTurnover : "-"
                      }}</span>
                    </td> -->
                    <td>
                      <span class="table-column-data">{{
                        lead.sanctionedAmount ? lead.sanctionedAmount : "-"
                      }}</span>
                    </td>
                    <td>
                      <span class="table-column-data">{{
                        lead.disbursedAmount ? lead.disbursedAmount : "-"
                      }}</span>
                    </td>
                    <td
                      *ngIf="
                        userDetails &&
                        userDetails.userType &&
                        userDetails.userType != '3'
                      "
                    >
                      <span class="table-column-data singleline">{{
                        lead.sourcedByName
                          ? (lead.sourcedByName | capitalizeFirst)
                          : "-"
                      }}</span>
                    </td>
                    <!-- <td>
                      <span class="table-column-data">{{
                        lead.createdOn
                          ? (lead.createdOn | date : "mediumDate")
                          : "-"
                      }}</span>
                    </td> -->
                    <td>
                      <span class="table-column-data">{{
                        lead.disbursalDate
                          ? (lead.disbursalDate | date : "mediumDate")
                          : "-"
                      }}</span>
                    </td>
                    <td (click)="$event.stopPropagation()">
                      <div class="text-center">
                        <div class="d-flex">
                          <img
                            alt="Disbursal Details"
                            src="../../../assets/images/icons/disbursal.svg"
                            width="24px"
                            height="24px"
                            class="me-2"
                            (click)="
                              disbursalDetails(lead); $event.stopPropagation()
                            "
                            pTooltip="Disbursal Details"
                            tooltipPosition="top"
                          />
                          <img
                            alt="Revenue Details"
                            *ngIf="userDetails?.userType == 1"
                            src="../../../assets/images/icons/revenue.svg"
                            width="24px"
                            height="24px"
                            (click)="
                              revenueDetails(lead); $event.stopPropagation()
                            "
                            pTooltip="Revenue"
                            tooltipPosition="top"
                          />
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr class="text-center">
                    <td colspan="10" class="text-center fw-bold">
                      <img
                        src="../../../assets/images/menu/no-data.gif"
                        width="200"
                        height="200"
                      />
                      <p>No Files Found</p>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </ng-container>
        </ng-container>
      </div>

      <div *ngIf="activeItem.name == 'lap'">
        <p-tabMenu
          [model]="employmentStatus"
          class="tabdesign"
          [activeItem]="activeEmploymentStatus"
          (activeItemChange)="onActiveEmploymentStatusChange($event)"
        ></p-tabMenu>
        <ng-container
          *ngIf="activeEmploymentStatus && activeEmploymentStatus.name"
        >
          <ng-container
            *ngIf="
              activeEmploymentStatus.name == 'employed' ||
              activeEmploymentStatus.name == 'self-employed'
            "
          >
            <div class="text-capitalize">
              <p-table
                #LapleadsTable
                [value]="loanLeads"
                [sortOrder]="-1"
                [lazy]="true"
                (onLazyLoad)="
                  activeEmploymentStatus.name == 'employed'
                    ? loadLeadsforlap($event)
                    : loadLeadsforlapself($event)
                "
                (onRowSelect)="viewLead($event)"
                selectionMode="single"
                dataKey="id"
                [showCurrentPageReport]="true"
                [rowsPerPageOptions]="[10, 25, 50]"
                [paginator]="true"
                [rows]="10"
                class="p-datatable-striped"
                [totalRecords]="
                  activeEmploymentStatus.name == 'employed'
                    ? lapLeadsCount
                    : lapselfLeadsCount
                "
                [loading]="loanleadsLoading"
                responsiveLayout="scroll"
                scrollHeight="flex"
                [globalFilterFields]="[
                  'referenceNo',
                  'customer.firstName',
                  'partner.partnerName',
                  'status'
                ]"
                styleClass="p-datatable-customers "
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Files"
              >
                <ng-template pTemplate="caption">
                  <div class="row">
                    <div class="col-md-3 mt-2 no-padding-small">
                      <div class="p-inputgroup">
                        <input
                          type="text"
                          pInputText
                          [placeholder]="
                            activeEmploymentStatus.name === 'employed'
                              ? 'Search File with Applicant Name'
                              : 'Search File with Business Name'
                          "
                          [(ngModel)]="searchInputValue"
                          (ngModelChange)="handleInputChange($event)"
                          (keyup.enter)="filterBasedOnEmploymentStatus()"
                        />

                        <button
                          type="button"
                          pButton
                          class="p-button-primary"
                          [disabled]="!searchInputValue"
                          (click)="filterBasedOnEmploymentStatus()"
                        >
                          <img
                            src="assets/images/icons/search.svg"
                            alt="Search"
                            width="16"
                            height="16"
                            style="vertical-align: middle"
                          />
                        </button>
                      </div>
                    </div>
                    <div class="col-md-6 mt-2 no-padding-small"></div>
                    <div class="col-md-3 mt-2 no-padding-small text-right">
                      <div class="d-flex">
                        <div class="flex-grow-1 me-2">
                          <div
                            class="p-inputgroup"
                            *ngIf="
                              userDetails &&
                              userDetails.userType &&
                              userDetails.userType != '3'
                            "
                          >
                            <br class="d-lg-none d-md-none" />
                            <p-dropdown
                              styleClass="text-left"
                              [style]="{ width: '100%' }"
                              [options]="leadUsers"
                              (onChange)="
                                activeEmploymentStatus.name === 'employed'
                                  ? statusChangeForLap($event)
                                  : statusChangeForLapSelf($event)
                              "
                              [dropdownIcon]="'fa fa-caret-down'"
                              [(ngModel)]="SourcedByForLap"
                              optionLabel="name"
                              dataKey="name"
                              appendTo="body"
                              [filter]="true"
                              filterPlaceholder="Search..."
                            >
                            </p-dropdown>
                          </div>
                        </div>
                        <div class="d-flex align-items-center pointer-cursor">
                          <app-filter
                            [position]="'right'"
                            [iconColor]="'#33009C'"
                            [iconSize]="'28px!important'"
                            (filterEvent)="
                              activeEmploymentStatus.name === 'employed'
                                ? applyConfigFilters($event, 'Lap')
                                : applyConfigFilters($event, 'Lapself')
                            "
                            [filterConfig]="
                              activeEmploymentStatus.name === 'employed'
                                ? HomefilterConfig
                                : HomeSelffilterConfig
                            "
                            [showFilterIndication]="
                              activeEmploymentStatus.name === 'employed'
                                ? appliedFilterLap
                                : appliedFilterLapself
                            "
                            pTooltip="Filter"
                            tooltipPosition="top"
                          >
                          </app-filter>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th>Lead Id</th>
                    <th *ngIf="activeEmploymentStatus.name === 'employed'">
                      Person Name
                    </th>
                    <th *ngIf="activeEmploymentStatus.name === 'self-employed'">
                      Business Name
                    </th>
                    <!-- <th *ngIf="activeEmploymentStatus.name === 'employed'">
                      Designation
                    </th>
                    <th *ngIf="activeEmploymentStatus.name === 'self-employed'">
                      Business Entity
                    </th>
                    <th *ngIf="activeEmploymentStatus.name === 'self-employed'">
                      Contact Person
                    </th>
                    <th *ngIf="activeEmploymentStatus.name === 'employed'">
                      Salary
                    </th>
                    <th *ngIf="activeEmploymentStatus.name === 'employed'">
                      Job Experience
                    </th> -->
                    <th class="text-nowrap">Sanctioned Amount</th>
                    <th class="text-nowrap">Disbursed Amount</th>
                    <th
                      *ngIf="
                        userDetails &&
                        userDetails.userType &&
                        userDetails.userType != '3'
                      "
                    >
                      Sourced By
                    </th>
                    <!-- <th>Created Date</th> -->
                    <th class="text-nowrap">Disbursal Date</th>
                    <th>Actions</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-lead>
                  <tr [pSelectableRow]="lead">
                    <td>
                      <span class="table-column-data singleline">{{
                        lead.customId || "-"
                      }}</span>
                    </td>
                    <td *ngIf="activeEmploymentStatus.name === 'employed'">
                      <span class="table-column-data singleline">{{
                        lead.contactPerson
                          ? (lead.contactPerson | capitalizeFirst)
                          : "-"
                      }}</span>
                    </td>
                    <td *ngIf="activeEmploymentStatus.name === 'self-employed'">
                      <span class="table-column-data singleline">{{
                        lead.businessName
                          ? (lead.businessName | capitalizeFirst)
                          : "-"
                      }}</span>
                    </td>
                    <!-- <td *ngIf="activeEmploymentStatus.name === 'employed'">
                      <span class="table-column-data singleline">{{
                        lead.designation
                          ? (lead.designation | capitalizeFirst)
                          : "-"
                      }}</span>
                    </td>
                    <td *ngIf="activeEmploymentStatus.name === 'self-employed'">
                      <span class="table-column-data">{{
                        lead.businessEntity
                          ? getEntityName(lead.businessEntity)
                          : "-"
                      }}</span>
                    </td>
                    <td *ngIf="activeEmploymentStatus.name === 'self-employed'">
                      <span class="table-column-data singleline">{{
                        lead.contactPerson
                          ? (lead.contactPerson | capitalizeFirst)
                          : "-"
                      }}</span>
                    </td>
                    <td *ngIf="activeEmploymentStatus.name === 'employed'">
                      <span class="table-column-data">{{
                        lead.salary ? lead.salary : "-"
                      }}</span>
                    </td>
                    <td *ngIf="activeEmploymentStatus.name === 'employed'">
                      <span class="table-column-data">{{
                        lead.jobExperience ? lead.jobExperience : "-"
                      }}</span>
                    </td> -->
                    <td>
                      <span class="table-column-data">{{
                        lead.sanctionedAmount ? lead.sanctionedAmount : "-"
                      }}</span>
                    </td>
                    <td>
                      <span class="table-column-data">{{
                        lead.disbursedAmount ? lead.disbursedAmount : "-"
                      }}</span>
                    </td>
                    <td
                      *ngIf="
                        userDetails &&
                        userDetails.userType &&
                        userDetails.userType != '3'
                      "
                    >
                      <span class="table-column-data singleline">{{
                        lead.sourcedByName
                          ? (lead.sourcedByName | capitalizeFirst)
                          : "-"
                      }}</span>
                    </td>
                    <!-- <td>
                      <span class="table-column-data">{{
                        lead.createdOn
                          ? (lead.createdOn | date : "mediumDate")
                          : "-"
                      }}</span>
                    </td> -->
                    <td>
                      <span class="table-column-data">{{
                        lead.disbursalDate
                          ? (lead.disbursalDate | date : "mediumDate")
                          : "-"
                      }}</span>
                    </td>
                    <td (click)="$event.stopPropagation()">
                      <div class="text-center">
                        <div class="d-flex">
                          <img
                            alt="Disbursal Details"
                            src="../../../assets/images/icons/disbursal.svg"
                            width="24px"
                            height="24px"
                            class="me-2"
                            (click)="
                              disbursalDetails(lead); $event.stopPropagation()
                            "
                            pTooltip="Disbursal Details"
                            tooltipPosition="top"
                          />
                          <img
                            alt="Revenue Details"
                            *ngIf="userDetails?.userType == 1"
                            src="../../../assets/images/icons/revenue.svg"
                            width="24px"
                            height="24px"
                            (click)="
                              revenueDetails(lead); $event.stopPropagation()
                            "
                            pTooltip="Revenue"
                            tooltipPosition="top"
                          />
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr class="text-center">
                    <td colspan="10" class="text-center fw-bold">
                      <img
                        src="../../../assets/images/menu/no-data.gif"
                        width="200"
                        height="200"
                      />
                      <p>No Files Found</p>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </ng-container>
        </ng-container>
      </div>
      <div *ngIf="activeItem.name == 'professionalLoans'">
        <p>Comming soon ....</p>
      </div>
      <div *ngIf="activeItem.name == 'educationlLoans'">
        <p>Comming soon ....</p>
      </div>
      <div *ngIf="activeItem.name == 'carLoan'">
        <p>Comming soon ....</p>
      </div>
      <div *ngIf="activeItem.name == 'commercialVehicleLoan'">
        <p>Comming soon ....</p>
      </div>
    </div>
  </div>
</div>
