<div
  class="wrapper b-home"
  style="height: auto; min-height: 100%; background: white"
>
  <app-sidebar-menu></app-sidebar-menu>
  <div
    id="kt_header"
    class="header"
    [class.header-fixed]="!iswiz"
    [class.mgn-lt-70]="smallMenuSection"
  >
    <app-header></app-header>
    <div class="body-section" [ngStyle]="{ 'height.px': bodyHeight }">
      <router-outlet></router-outlet>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<!--
<div class="wrapper b-home d-flex" style="min-height: 100%; background: white">
  <app-sidebar-menu></app-sidebar-menu>

  <div
    id="kt_header"
    class="header d-flex flex-column flex-grow-1"
    [class.header-fixed]="!iswiz"
    [ngClass]="{ 'sidebar-collapsed': smallMenuSection }"
  >
    <app-header></app-header>

    <div
      class="body-section flex-grow-1"
      [ngStyle]="{ 'height.px': bodyHeight }"
    >
      <router-outlet></router-outlet>
    </div>

    <div class="clearfix"></div>
  </div>
</div> -->
