// ::ng-deep .p-datatable .p-datatable-thead > tr > th {
//   background: #13003a !important;
//   color: #fff !important;
// }
// .statusdata {
//   padding-top: 4px;
//   padding-bottom: 4px;
//   border-radius: 20px;
//   padding-left: 10px;
//   padding-right: 10px;
// }
// ::ng-deep .p-datatable-striped tbody tr:nth-child(even) {
//   background-color: #f9f9f9;
// }

// ::ng-deep .p-datatable-striped tbody tr:nth-child(odd) {
//   background-color: #ffffff;
// }
.teamImage {
  border-radius: 50px;
}
.search-btn {
  background-color: #fff !important;
  // border-color: lightgray !important;
  border-bottom-right-radius: 8px !important;
  border-top-right-radius: 8px !important;
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border: none !important;
  box-shadow: 0 0 4px 0 #00000040 !important;
}
.search-btn img{
  filter: brightness(0) saturate(100%) invert(46%) sepia(0%) saturate(0%) hue-rotate(187deg) brightness(91%) contrast(86%);
}
input {
  position: relative;
  overflow: hidden; /* Hide any overflow */
  // width: 383px !important;
  // height: 45px !important;
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  border: none !important;
  color: #838383 !important;
  box-shadow: 0 0 4px 0 #00000040 !important;
} 