<div>
  <div class="bread-crumb m-2">
    <p-breadcrumb [model]="breadCrumbItems"></p-breadcrumb>
  </div>
  <div class="m-2 p-1" *ngIf="bankers">
    <div class="d-flex justify-content-between">
      <div
        class="d-flex align-items-center justify-content-center pointer-cursor"
        (click)="goBack()"
      >
        <span class="me-2 d-flex align-items-center">
          <img src="../../../assets/images/icons/Vector.png" alt="Back" />
        </span>
        <!-- <span class="me-1">
        <img
          src="../../../../assets/images/menu/view-bank.png"
          alt="Default Image"
          class=""
          style="height: 35px; width: 40px"
        />
      </span> -->
        <div class="fw-bold back-btn-text text-capitalize">
          &nbsp; {{ bankers.name | capitalizeFirst }} Profile
        </div>
      </div>
    </div>
  </div>
  <!--
  <div class="bread-crumb m-2">
    <p-breadcrumb [model]="breadCrumbItems"></p-breadcrumb>
  </div> -->
  <div *ngIf="loading">
    <app-preloader></app-preloader>
  </div>

  <div class="bg-color">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div class="card p-4 banker-profile" style="width: 350px; height: 330px; margin-left: 5px;">
            <div class="col" style="justify-content: center; align-items: center;">
              <div
                class="d-flex justify-content-center align-items-center"
              >
                <!-- <div
                  *ngIf="
                    bankers &&
                    bankers.imageFiles &&
                    bankers.imageFiles.length > 0
                  "
                  class="mt-2"
                >
                  <span *ngFor="let file of bankers.imageFiles">
                    <ng-container *ngIf="isImageFile(file)">
                      <a [href]="'//' + file" target="_blank">
                        <img
                          [src]="'//' + file"
                          alt="Image"
                          class="img-thumbnail"
                          style="height: 120px; width: 240px"
                        />
                      </a>
                    </ng-container>
                    <ng-container *ngIf="!isImageFile(file)">
                      <a [href]="'//' + file" target="_blank">
                        <i
                          [class]="getFileIcon(file.split('.').pop())"
                          class="file-icon"
                        ></i>
                      </a>
                    </ng-container>
                  </span>
                </div>
                <div *ngIf="bankers && bankers.imageFiles.length == 0" class="">
                  <tr class="text-center">
                    <img
                      src="../../../../assets/images/menu/noImage.png"
                      width="100"
                      height="100"
                    />
                    <p>No Image Found</p>
                  </tr>
                </div> -->

                <ng-container
                  *ngIf="
                    bankers &&
                      bankers.imageFiles &&
                      bankers.imageFiles.length > 0;
                    else defaultImage
                  "
                >
                  <a>
                    <img
                      [src]="'//' + bankers.imageFiles[0]"
                      alt="Image"
                      class="img-thumbnail"
                      style="height: 170px; width: 184px"
                    />
                  </a>
                </ng-container>
                <ng-template #defaultImage>
                  <img
                    src="../../../../assets/images/menu/noImage.png"
                    alt="Default Image"
                    style="height: 184px; width: 184px"
                  />
                </ng-template>
              </div>
              <div class="text-center">
                <div *ngIf="bankers">
                  <!-- Banker Name -->
                  <span
                    class="bankname text-capitalize"
                    style="color: #535AB4; font-size: 20px; font-weight: 600;"
                  >
                    {{ bankers.name | capitalizeFirst }}
                  </span>

                  <!-- Row: Banker ID + Status -->
                  <div class="d-flex justify-content-center gap-5 mt-3">
                    <!-- Banker ID -->
                    <div>
                      <label class="bankerid d-block" style="font-weight: 600; font-size: 14px;">
                        Banker ID
                      </label>
                      <span style="color: #737373; font-weight: 400; font-size: 16px;">
                        {{ bankers.bankerId }}
                      </span>
                    </div>

                    <!-- Status -->
                    <div>
                      <label class="bankStatus d-block" style="font-weight: 600; font-size: 14px;">
                        Status
                      </label>
                      <span
                        class="d-inline-flex align-items-center justify-content-start gap-2"
                        *ngIf="bankers.bankerInternalStatus"
                        [ngStyle]="{
                          backgroundColor: getStatusColor(getStatusName(bankers.bankerInternalStatus)).backgroundColor,
                          color: getStatusColor(getStatusName(bankers.bankerInternalStatus)).textColor,
                          height: '22px',
                          borderRadius: '16px',
                          fontSize: '12px',
                          fontWeight: 500,
                          padding: '0 8px'
                        }"
                      >
                        <!-- Dot -->
                        <span
                          class="rounded-circle"
                          [ngStyle]="{
                            backgroundColor: getStatusColor(getStatusName(bankers.bankerInternalStatus)).dotColor,
                            width: '8px',
                            height: '8px',
                            display: 'inline-block'
                          }"
                        ></span>

                        <!-- Status Text -->
                        {{ getStatusName(bankers.bankerInternalStatus) }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 text-capitalize mb-3" *ngIf="bankers" style="width: 800px;">
          <div *ngIf="bankers.branchDetails">
            <!-- Loop each branch separately -->
            <div *ngFor="let branch of bankers.branchDetails; let i = index" class="mb-3">
              <div class="card p-3 branch-card">
                <p-accordion [multiple]="false" [activeIndex]="0">
                  <p-accordionTab
                    header="Branch Details-{{ i + 1 }}"
                    [headerStyleClass]="'accordion-header'"
                  >
                    <div class="mt-3">
                      <div class="row">
                        <!-- Branch -->
                        <div class="col-md-3 col-sm-6 mb-3">
                          <div class="info-line">
                            <div class="label">Branch</div>
                            <div class="value">{{ branch?.branch | capitalizeFirst }}</div>
                          </div>
                        </div>

                        <!-- Contact Person -->
                        <div class="col-md-3 col-sm-6 mb-3">
                          <div class="info-line">
                            <div class="label">Contact Person</div>
                            <div class="value">{{ branch?.contactPerson | capitalizeFirst }}</div>
                          </div>
                        </div>

                        <!-- Designation -->
                        <div class="col-md-3 col-sm-6 mb-3">
                          <div class="info-line">
                            <div class="label">Designation</div>
                            <div class="value">{{ branch?.designation | capitalizeFirst }}</div>
                          </div>
                        </div>

                        <!-- Mobile Number -->
                        <div class="col-md-3 col-sm-6 mb-3">
                          <div class="info-line">
                            <div class="label">Mobile Number</div>
                            <div class="value">{{ branch?.phone }}</div>
                          </div>
                        </div>

                        <!-- Email -->
                        <div class="col-md-3 col-sm-6 mb-3">
                          <div class="info-line">
                            <div class="label">Email</div>
                            <div class="value email">{{ branch?.email }}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </p-accordionTab>
                </p-accordion>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
