.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.p-datatable {
  width: 100%;
}

.p-datatable-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.calendar-custom-img {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  cursor: pointer;
  filter: grayscale(100%) brightness(50%);
}
.custom-calendar-wrapper {
  position: relative;
  width: 100% !important;
}
