// ::ng-deep .p-datatable .p-datatable-thead > tr > th {
//   background: #13003a !important;
//   color: #fff !important;
// }
.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.p-datatable {
  width: 100%;
}

.p-datatable-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
::ng-deep .bread-crumb .pi-home {
  color: #7a86b6 !important;
}
