// ::ng-deep .p-datatable .p-datatable-thead > tr > th {
//   background: #13003a !important;
//   color: #fff !important;
// }
// ::ng-deep .p-datatable-striped tbody tr:nth-child(even) {
//   background-color: #f9f9f9;
// }

// ::ng-deep .p-datatable-striped tbody tr:nth-child(odd) {
//   background-color: #ffffff;
// }
:host ::ng-deep .p-dropdown-panel .p-dropdown-filter-container {
  width: 100% !important;
}

:host ::ng-deep .p-dropdown-filter {
  width: 100% !important;
  margin: auto;
}
// .statusdata {
//   padding-top: 4px;
//   padding-bottom: 4px;
//   border-radius: 20px;
//   padding-left: 10px;
//   padding-right: 10px;
// }
.p-button-primary {
  background-color:#fff !important;
  border-color: lightgray !important;
  border-bottom-right-radius: 8px !important;
  border-top-right-radius: 8px !important;
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}
.calendar-custom-img {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  cursor: pointer;
  filter: grayscale(100%) brightness(50%);
}
