.bg-gradient {
  height: 100px;
  // background-image: linear-gradient(
  //   to top,
  //   #df89b5 0%,
  //   #bfd9fe 100%
  // ) !important;
  background-color: #ffffff;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}
// ::ng-deep .p-datatable .p-datatable-thead > tr > th {
//   background: #13003a !important;
//   color: #fff !important;
// }
.profile-img-container {
  display: flex;
  justify-content: flex-start;
  align-items: left;
  margin-top: -85px;
  margin-left: 10px;
}

.profile-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 5px solid white;
  background-color: white;
}

.card-title {
  color: #535AB4;
  font-weight: 500;
  font-size: 30px;
  text-transform: capitalize;
}
.info-line {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.label {
  color: grey;
  font-size: 17px;
  flex: 0 0 340px;
  font-weight: bold;
}
.card-text {
  font-weight: bold;
  color: grey;
  font-size: 20px;
}

.user-profile {
  padding: 0 !important;
  border-radius: 5px;
  width: 100%;
  border: none;
  // box-shadow: 0 1px 9px -3px grey;
}
.text-muted{
  color: #101828 !important;
  font-weight: 500 !important;
  font-size: 18px !important;
}
.fw-medium{
  color: #737373 !important;
  font-weight: 400 !important;
  font-size: 16px !important;
}
.custom-button {
  display: flex;
  align-items: center;
  gap: 6px;
  border: none;
  border-radius: 16px;
  font-weight: 500;
  box-shadow: none !important;
}

/* Active status styling */
.active-status {
  background-color: #ECFDF3 !important;
  color: #037847 !important;
}

/* Inactive status styling */
.inactive-status {
  background-color: #EDEFF1 !important;
  color: #364254 !important;
}

.status-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  background-color: currentColor;
}
::ng-deep .p-tabmenu {
  background-color: #f7f7f7;

  .p-tabmenu-nav {
    background-color: #f7f7f7;
    border: none;

    li {
      border: none;
      border-radius: 0;
      transition: all 0.3s ease;

      a {
        border: none;
        outline: none;
        border-radius: 0;
        background: transparent;
        color: #1b1f2b;
        padding: 1rem;

        &:hover {
          background-color: #DFE5EF;
          color: #535AB4;
        }

        &:focus {
          outline: none !important;
          box-shadow: none !important;
        }
      }

      &.p-highlight {
        background-color: #DFE5EF !important;
        // border: 1px solid #535AB4 !important;
        border-bottom: 3px solid #535ABA !important;
        border-radius: 6px 6px 0 0 !important;

        a {
          color: #535AB4 !important;
        }
      }
    }
  }
}
@media screen and (max-width: 620px) {
  .info-line {
    display: block;
  }
  .card {
    margin: 0;
  }
  .user-details {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .box {
    margin-top: 15px;
  }
}

.user-details {
  border: none;
}
::ng-deep p-accordionTab .accordion-header {
  font-size: 20px !important;
  color: #59c59b !important;
  font-weight: bold !important;
}

::ng-deep .p-button-success.custom-button {
  border-radius: 50px !important;
}

::ng-deep .p-button-danger.custom-button {
  border-radius: 50px !important;
}
.value {
  color: #29415b;
  font-size: 17px;
  font-weight: bold;
}

.bg-color {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  // background-image: url("../../../../assets/images/bgs/12.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.count-box h5 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: #29415b;
}

.count-box p {
  margin: 5px 0 0;
  font-size: 1.9rem;
  font-weight: 700;
  color: #1a3c5d;
}

.metric-card .icon-box {
  margin-bottom: 10px;
}

.icon-box {
  filter: brightness(0) saturate(100%) invert(30%) sepia(45%) saturate(1693%) hue-rotate(211deg) brightness(94%) contrast(85%);
  
}
.metric-card .count-box p {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.metric-card .count-box h5 {
  font-size: 18px;
  margin: 5px 0 0;
}

.timeline-event h5 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #535AB4;
  margin-bottom: 5px;
}
.p-button-primary img{
  filter: brightness(0) saturate(100%) invert(46%) sepia(0%) saturate(0%) hue-rotate(187deg) brightness(91%) contrast(86%);
}
input{
  box-shadow: none !important;
  border: none !important;
}
.timeline-event p {
  font-size: 1rem;
  font-weight: 400;
  color: #1E1E1E;
  margin: 0;
}
.p-shadow-3 {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.lead-body {
  border: none;
  border-radius: 8px;
}

.custom-card {
  border: none;
  max-width: 400px;
  padding: 20px;
  min-height: 150px;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card-text {
  font-size: 2rem;
  font-weight: bold;
}
.chart-container span {
  color: rgb(15, 15, 145);
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chart-container {
  position: relative;
  border-radius: 5px;
  background-color: #fff;
}
.nodata {
  border-radius: 10px;
  width: 200px;
  height: 200px;
}
.chart-card {
  border: none;

  // box-shadow: 0 0 10px 1px rgba(80, 82, 106, 0.25);
}
.box {
  cursor: pointer;
  background-color: #fff;
  border-radius: 6px;
  min-height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  counter-increment: item;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

  // --shadow: rgba(41, 65, 91, 0.4) -5px 5px,
  //           rgba(41, 65, 91, 0.3) -10px 10px,
  //           rgba(41, 65, 91, 0.2) -15px 15px,
  //           rgba(41, 65, 91, 0.1) -20px 20px,
  //           rgba(41, 65, 91, 0.05) -25px 25px;

  // box-shadow: var(--shadow);
}

.white-icon {
  color: #fff !important;
  filter: brightness(0) invert(1); /* Optional fallback for dark mode */
}

.box::before {
  display: block;
  color: transparent;
  background-image: linear-gradient(115deg, #fc00ff, #00dbde);
  font-weight: 700;
  font-size: clamp(1.2rem, 2rem + 2vw, 3rem);
}

// ::ng-deep .p-tabmenu {
//   margin: 5px;
//   border: none;
//   box-shadow: 0 0 10px 1px rgba(80, 82, 106, 0.25);
// }

// ::ng-deep .p-tabmenu .p-tabmenuitem {
//   font-weight: bold;
//   color: #c21717 !important;
// }

// ::ng-deep .p-tabmenu .p-tabmenuitem.p-highlight {
//   background-color: #bfdbfe;

//   padding: 2px;
//   border-radius: 5px;
// }

// ::ng-deep .p-datatable-customers {
//   border-radius: 5px;

//   box-shadow: 0 0 10px 1px rgba(130, 132, 159, 0.25);
// }

// ::ng-deep .p-datatable-striped tbody tr:nth-child(even) {
//   background-color: #f9f9f9;
// }

// ::ng-deep .p-datatable-striped tbody tr:nth-child(odd) {
//   background-color: #ffffff;
// }

.tab-card {
  border: none;
  border-radius: 5px;
  // box-shadow: 0 0 10px 1px rgba(80, 82, 106, 0.25);
}

// :host ::ng-deep .p-tabmenu .p-tabmenu-nav {
//   height: 48px;
// }

// :host
//   ::ng-deep
//   .p-tabmenu
//   .p-tabmenu-nav
//   .p-tabmenuitem.p-highlight
//   .p-menuitem-link {
//   background: #0165ac;
//   border-color: #3b82f6;
//   color: #ffffff;
// }
// :host ::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
//   background: #ffffff;
//   color: #0165ac;
// }
// :host
//   ::ng-deep
//   .p-tabmenu
//   .p-tabmenu-nav
//   .p-tabmenuitem:not(.p-highlight)
//   .p-menuitem-link:hover {
//   background: #f9f9f9 !important;
//   border-color: #4f94d4 !important;
//   color: #0165ac !important;
// }

.update-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  z-index: 2;
}
.p-button-primary {
  background-color: #fff !important;
  border-color: lightgray !important;
  border-bottom-right-radius: 8px !important;
  border-top-right-radius: 8px !important;
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}
