<div>
  <div class="p-1 m-2 fixed-card">
    <div class="d-flex justify-content-between">
      <div
        class="d-flex align-items-center justify-content-center pointer-cursor"
        (click)="goBack()"
      >
        <!-- <span class="back-btn-icon me-2"
          ><i class="pi pi-arrow-left fw-bold"></i
        ></span> -->

        <span class="me-2 d-flex align-items-center">
          <img src="../../../assets/images/icons/left-arrow.svg" alt="Back" />
        </span>
        <!-- <span class="me-1">
          <img
            src="../../../assets/images/menu/filesinprocess.png"
            alt="Default Image"
            class=""
            style="height: 35px; width: 40px"
          />
        </span> -->
        <b>
          <span class="back-btn-text">Files In Process</span>
        </b>
        <!-- <span class="back-btn-text text-capitalize">Files In Process</span> -->
      </div>
    </div>
  </div>
  <!-- <div class="bread-crumb">
    <p-breadcrumb [model]="breadCrumbItems"></p-breadcrumb>
  </div> -->
  <div class="text-capitalize m-2">
    <p-table
      #leadsTable
      [value]="leads"
      [lazy]="true"
      (onLazyLoad)="loadLeads($event)"
      dataKey="id"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10, 25, 50]"
      [paginator]="true"
      [rows]="10"
      [totalRecords]="totalLeadsCount"
      [loading]="apiLoading"
      responsiveLayout="scroll"
      scrollHeight="flex"
      class="p-datatable-striped"
      [globalFilterFields]="[
        'referenceNo',
        'customer.firstName',
        'partner.partnerName',
        'status'
      ]"
      styleClass="p-datatable-customers "
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords}  Files In Process "
    >
      <ng-template pTemplate="caption">
        <div class="row">
          <div class="col-md-4 mt-2 no-padding-small">
            <div class="p-inputgroup">
              <input
                type="text"
                pInputText
                placeholder="Search File with Business Name"
                [(ngModel)]="businessNameToSearch"
                (ngModelChange)="
                  inputValueChangeEvent('loanId', businessNameToSearch)
                "
                (keyup.enter)="filterWithBusinessName()"
              />
              <button
                type="button"
                pButton
                icon="pi pi-search"
                class="p-button-primary"
                [disabled]="!businessNameToSearch"
                (click)="filterWithBusinessName()"
              ></button>
            </div>
          </div>
          <div class="col-md-4 mt-2 no-padding-small">
            <div class="p-inputgroup">
              <input
                type="text"
                pInputText
                placeholder="Search File with Mobile Number"
                [(ngModel)]="mobileNumberToSearch"
                (ngModelChange)="
                  inputValueChangeEvent('loanId', mobileNumberToSearch)
                "
                (keyup.enter)="filterWithMobileNumber()"
              />
              <button
                type="button"
                pButton
                icon="pi pi-search"
                class="p-button-primary"
                [disabled]="!mobileNumberToSearch"
                (click)="filterWithMobileNumber()"
              ></button>
            </div>
          </div>
          <div class="col-md-4 mt-2 no-padding-small text-right">
            <div class="d-flex">
              <div class="flex-grow-1 me-2">
                <div
                  class="p-inputgroup"
                  *ngIf="
                    userDetails &&
                    userDetails.userType &&
                    userDetails.userType != '3'
                  "
                >
                  <p-dropdown
                    styleClass="text-left"
                    [style]="{ width: '100%' }"
                    [options]="leadUsers"
                    (onChange)="statusChange($event)"
                    [dropdownIcon]="'fa fa-caret-down'"
                    [(ngModel)]="selectedSourcedByStatus"
                    optionLabel="name"
                    dataKey="name"
                    appendTo="body"
                    [filter]="true"
                    filterPlaceholder="Search..."
                  >
                  </p-dropdown>
                </div>
              </div>
              <div class="d-flex align-items-center pointer-cursor">
                <app-filter
                  [position]="'right'"
                  [iconColor]="'#33009C'"
                  [iconSize]="'28px!important'"
                  (filterEvent)="applyConfigFilters($event)"
                  [filterConfig]="filterConfig"
                  [showFilterIndication]="appliedFilter"
                  pTooltip="Filter"
                  tooltipPosition="top"
                >
                </app-filter>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th class="text-nowrap">Lead Id</th>
          <th class="text-nowrap">Business Name</th>
          <th class="text-nowrap">Business Entity</th>
          <th class="text-nowrap">Contact Person</th>
          <th>City</th>
          <th class="text-nowrap">Sourced By</th>
          <th class="text-nowrap">Created Date</th>
          <th class="text-nowrap">Login Date</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-lead>
        <tr class="text-capitalize">
          <td>
            <span class="table-column-data" *ngIf="lead.leadId">{{
              lead.id
            }}</span>
          </td>
          <td>
            <span class="table-column-data" *ngIf="lead.businessName">{{
              lead.businessName | capitalizeFirst
            }}</span>
          </td>
          <td>
            <span class="table-column-data" *ngIf="lead.businessEntity">{{
              getEntityName(lead.businessEntity)
            }}</span>
          </td>
          <td>
            <span class="table-column-data" *ngIf="lead.contactPerson">{{
              lead.contactPerson | capitalizeFirst
            }}</span>
          </td>
          <td>
            <span class="table-column-data" *ngIf="lead.id">
              {{ lead.city | capitalizeFirst }}
            </span>
          </td>
          <td>
            <span class="table-column-data" *ngIf="lead.sourcedBy">{{
              getSourceName(lead.sourcedBy) | capitalizeFirst
            }}</span>
          </td>
          <td>
            <span class="table-column-data" *ngIf="lead.createdOn">{{
              lead.createdOn | date : "mediumDate"
            }}</span>
          </td>
          <td>
            <span class="table-column-data" *ngIf="lead.loginDate">{{
              lead.loginDate | date : "mediumDate"
            }}</span>
          </td>
          <td>
            <div class="text-center">
              <div class="d-flex">
                <!-- <button
                  pButton
                  pRipple
                  type="button"
                  class="p-button-primary me-2 custom-btn"
                  (click)="savedBanks(lead.id)"
                  pTooltip="Saved Banks"
                  icon="fas fa-check-to-slot"
                  tooltipPosition="top"
                ></button> -->
                <img
                  src="../../../assets/images/icons/saved-banks.svg"
                  width="24px"
                  height="24px"
                  (click)="savedBanks(lead.id)"
                  pTooltip="Saved Banks"
                  tooltipPosition="top"
                />
                <!-- <button
                  pButton
                  pRipple
                  type="button"
                  class="p-button-info me-2 custom-btn"
                  (click)="bankSelection(lead.id)"
                  pTooltip="Bank Selection"
                  icon="fas fa-building-columns"
                  tooltipPosition="top"
                ></button> -->
                <img
                  src="../../../assets/images/icons/lender1.svg"
                  width="24px"
                  height="24px"
                  (click)="bankSelection(lead.id)"
                  pTooltip="Bank Selection"
                  tooltipPosition="top"
                />
                <!-- <p-menu
                  appendTo="body"
                  #menu
                  [model]="actionItemsfip(lead)"
                  [popup]="true"
                ></p-menu>
                <button
                  pButton
                  type="button"
                  (click)="menu.toggle($event)"
                  icon="pi pi-bars"
                ></button> -->
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr class="text-center">
          <td colspan="10" class="text-center fw-bold">
            <img
              src="../../../assets/images/menu/no-data.gif"
              width="200"
              height="200"
            />
            <p>No Files In Process Found</p>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
