// body {
//   background-color: #f5f8fa; /* subtle light background */
// }

.card {
  background-color: #ffffff;
  border-radius: 1rem;
}
.text-primary{
  color: #29415B !important;
}
.back-btn a:hover{
color: #EE7846;
}
.back-btn a{
color: #29415B;
}
.btn-primary {
  color: #fff !important;
  background-color: #29415B !important;
  border-color: #29415B !important;
}

.btn-primary:hover {
  background-color: #29415B;
  border-color: #29415B;
}
