// body {
//   background-color: #f5f8fa; /* subtle light background */
// }
.background-radial-gradient {
  background-image: url("../../assets/images/loginpage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  // max-width: 100vh;
}
.card {
  background-color: #ffffff;
  border-radius: 1rem;
  margin-left: 120px;
  border-color: #878787;
}
.text-primary {
  color: #29415b !important;
}
.back-btn a:hover {
  color: #ee7846;
}
.back-btn a {
  color: #29415b;
}
.btn-primary {
  color: #fff !important;
  background-color: #29415b !important;
  border-color: #29415b !important;
}

.btn-primary:hover {
  background-color: #29415b;
  border-color: #29415b;
}
.error-placeholder {
  min-height: 20px;
  margin-top: 4px;
  font-size: 0.875rem;
  line-height: 1.2;
}
// @media (max-width:991px){
//   .card{
//     width: 90%;
//     margin: 0 auto;
//     height: auto;
//   }
//   .background-radial-gradient{
//     background-position: center;
//     background-size: cover;
//   }
// }
@media (max-width: 650px) {
  .background-radial-gradient {
    padding: 0 !important;
  }

  section.d-flex.align-items-center {
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column;
  }

  .container.col-lg-6 {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 0 !important;
    margin: 0 auto !important;
    width: 100% !important;
    min-height: 100vh;
  }

  .card {
    width: 100% !important;
    max-width: 400px !important;
    margin: 10px !important;
    padding: 1.5rem 1rem !important;
  }
}
