<section
  class="d-flex align-items-center justify-content-center min-vh-100 background-radial-gradient overflow-hidden"
>
  <div class="container px-4 py-5 px-md-5 text-center text-lg-start">
    <div class="row gx-lg-5 align-items-center">
      <!-- Left Content -->
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1
          class="my-5 display-5 fw-bold ls-tight"
          style="color: hsl(218, 81%, 95%)"
        >
          Join the <br />
          <div class="typing-text-container">
            <span style="color: hsl(218, 81%, 75%)">Loan CRM</span>
          </div>
        </h1>
        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
          Start your journey with our CRM built for DSAs, consultants, and loan
          agents to manage leads and grow faster.
        </p>
      </div>

      <!-- Register Card -->
      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div
          id="radius-shape-1"
          class="position-absolute rounded-circle shadow-5-strong"
        ></div>
        <div
          id="radius-shape-2"
          class="position-absolute shadow-5-strong"
        ></div>

        <div class="card">
          <div class="card-body px-4 py-5 px-md-5">
            <div class="card-logo d-flex mb-3">
              <img
                src="../../assets/images/logo.svg"
                alt="Business Logo"
                width="150"
                height="35"
              />
            </div>

            <div class="text-large text-left fw-medium mb-3">
              <span class="text-capitalize">Create an account</span>
            </div>

            <form
              class="register-form"
              [formGroup]="registerForm"
              (ngSubmit)="onSubmit()"
              novalidate
            >
              <!-- Full Name -->
              <div class="form-outline mb-4">
                <input
                  pInputText
                  type="text"
                  formControlName="name"
                  placeholder="Full Name"
                  autocomplete="off"
                  class="rounded-lg w-100"
                />
                <label class="form-label fw-medium">Full Name</label>
                <div *ngIf="submitted && name.invalid" class="text-danger">
                  Full name is required.
                </div>
              </div>

              <!-- Email -->
              <div class="form-outline mb-4">
                <input
                  pInputText
                  type="email"
                  formControlName="emailId"
                  placeholder="Email address"
                  autocomplete="off"
                  class="rounded-lg w-100"
                  [class.ng-invalid]="submitted && email.invalid"
                />
                <label class="form-label fw-medium">Email address</label>
                <div *ngIf="submitted && email.errors" class="text-danger">
                  <small *ngIf="email.errors['required']"
                    >Email is required.</small
                  >
                  <small *ngIf="email.errors['email']"
                    >Please enter a valid email address.</small
                  >
                </div>
              </div>

              <!-- Phone Number -->
              <div class="form-outline mb-4">
                <input
                  pInputText
                  type="tel"
                  formControlName="mobile"
                  placeholder="Phone Number"
                  autocomplete="off"
                  class="rounded-lg w-100"
                  maxlength="10"
                  [class.ng-invalid]="submitted && mobile.invalid"
                />
                <label class="form-label fw-medium">Phone Number</label>
                <div *ngIf="submitted && mobile.errors" class="text-danger">
                  <small *ngIf="mobile.errors['required']"
                    >Mobile number is required.</small
                  >
                  <small *ngIf="mobile.errors['pattern']"
                    >Enter a valid 10-digit mobile number.</small
                  >
                </div>
              </div>

              <!-- Company Name -->
              <div class="form-outline mb-4">
                <input
                  pInputText
                  type="text"
                  formControlName="businessName"
                  placeholder="Company Name"
                  autocomplete="off"
                  class="rounded-lg w-100"
                />
                <label class="form-label fw-medium">Company Name</label>
                <div
                  *ngIf="submitted && businessName.invalid"
                  class="text-danger"
                >
                  Company name is required.
                </div>
              </div>

              <!-- Password -->
              <div class="form-outline mb-4">
                <div class="input-group">
                  <input
                    pInputText
                    [type]="showPassword ? 'text' : 'password'"
                    formControlName="password"
                    placeholder="Password"
                    autocomplete="off"
                    class="rounded-lg form-control"
                  />
                  <span class="input-group-text bg-white border-start-0">
                    <img
                      src="{{
                        showPassword
                          ? 'assets/images/icons/eye-slash.svg'
                          : 'assets/images/icons/eye.svg'
                      }}"
                      (click)="showPassword = !showPassword"
                      width="20"
                      height="20"
                      style="cursor: pointer"
                      alt="Toggle Password Visibility"
                    />
                  </span>
                </div>
                <label class="form-label fw-medium">Password</label>
                <!-- <button
                  type="button"
                  (click)="togglePasswordVisibility()"
                  class="btn btn-link p-0"
                >
                  {{ isPasswordVisible ? "Hide" : "Show" }}
                </button> -->
                <div *ngIf="submitted && password.errors" class="text-danger">
                  <small *ngIf="password.errors['required']"
                    >Password is required.</small
                  >
                  <small *ngIf="password.errors['pattern']">
                    Password must contain at least 1 uppercase letter, 1
                    lowercase letter, 1 number, and 1 special character.
                  </small>
                  <small *ngIf="password.errors['minlength']">
                    Password must be at least 6 characters.
                  </small>
                </div>
              </div>

              <!-- Submit -->
              <button
                type="submit"
                pButton
                pRipple
                [disabled]="loading"
                class="p-button-primary mb-4 w-100 custom-button"
              >
                Register
              </button>

              <!-- Link to login -->
              <div class="text-center">
                <span class="text-muted">Already have an account?</span>
                <a
                  routerLink="/user/login"
                  class="fw-bold text-primary text-decoration-none"
                >
                  Sign in here
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
